<footer class="grid-container">
  <!-- <div class="grid-collapse"> -->
    <div class="grid-column">
      <div class="va-wrapper">
        <div class="left header-text">
          <p><script type="text/javascript">document.write(new Date().getFullYear())</script>&nbsp;MERRITT&trade;. {{ site.copyright[lang] | upcase }}.</p>
        </div>
        <div class="social-wrapper-right">
          <a target="_blank" href="https://www.facebook.com/merrittwoodwork"><img src="/uploads/icon_facebook.png"></a>
          <a target="_blank" href="https://www.instagram.com/merrittwoodwork"><img src="/uploads/icon_instagram.png"></a>
          <a target="_blank" href="https://www.linkedin.com/company-beta/642019/ "><img src="/uploads/icon_linkedin.png"></a>
          <a target="_blank" href="https://www.xing.com/companies/merritt"><img src="/uploads/icon_xing.png"></a>
        </div>
        <div class="right header-text">
          <p>7198 INDUSTRIAL PARK BLVD. MENTOR, OH 44060</p>
        </div>
        <div class="social-wrapper-bottom">
          <a target="_blank" href="https://www.facebook.com/merrittwoodwork"><img src="/uploads/icon_facebook.png"></a>
          <a target="_blank" href="https://www.instagram.com/merrittwoodwork"><img src="/uploads/icon_instagram.png"></a>
          <a target="_blank" href="https://www.linkedin.com/company-beta/642019/ "><img src="/uploads/icon_linkedin.png"></a>
          <!-- <a target="_blank" href="https://www.xing.com"><img src="/uploads/icon_xing.png"></a> -->
        </div>
      </div>
    </div>
  <!-- </div> -->
</footer>
