<div class="fixed-header-wrapper">
  <div class="lang">
    <a href="{% if site.active_lang == 'en' %}/{% elsif site.active_lang == 'de' %}../{%endif%}" class="header-text{% if site.active_lang == 'en' %} active{% endif %}">EN</a> | <a href="{% if site.active_lang == 'en' %}/de/{% elsif site.active_lang == 'de' %}/{%endif%}" class="header-text{% if site.active_lang == 'de' %} active{% endif %}">DE</a>
  </div>
  <header class="grid-container">
    <!-- <div class="grid-collapse"> -->
      <div class="grid-column">
        <div class="va-wrapper">
          <a href="/"><img src="/uploads/logo.png" alt="MERRITT"></a>

          <div id="trigger-overlay" class="menu header-text">
          <p>menu</p>
          <button class="c-hamburger c-hamburger--htx">
            <span>toggle menu</span>
          </button>
          </div>
          <div class="left header-text">
            <a {% if page.class == 'portfolio' or page.class == 'casestudy' %}class="active"{% endif %} href="/portfolio">{{ site.portfolio[lang] | upcase }}</a>
            <a {% if page.class == 'capabilities' %}class="active"{% endif %} href="/capabilities">{{ site.capabilities[lang] | upcase }}</a>
            <a {% if page.class == 'about' %}class="active"{% endif %} href="/about">{{ site.about[lang] | upcase }}</a>
          </div>
          <div class="right header-text">
            <a {% if page.class == 'clients' %}class="active"{% endif %} href="/clients">{{ site.clients[lang] | upcase }}</a>
            <a {% if page.class == 'press' %}class="active"{% endif %} href="/press">{{ site.press[lang] | upcase }}</a>
            <a {% if page.class == 'careers' %}class="active"{% endif %} href="/careers">{{ site.careers[lang] | upcase }}</a>
            <a {% if page.class == 'contact' %}class="active"{% endif %} href="/contact">{{ site.contact[lang] | upcase }}</a>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </header>
</div>

