<script>
  $(document).ready(function() {

    enquire.register("screen and (min-width:992px)", {

      // OPTIONAL
      // If supplied, triggered when a media query matches.
      match: function() {
        var rellax = new Rellax('.rellax');
      }

    });

  // imgix responsive background-image
  // https://gist.github.com/croxton/9cfa0cca85fbb5f135441653a5b1dd9f
  var $img = $(".js-img");

  $img.imagesLoaded(function() {
    // fallback to src for browsers without srcset support
    var src = $img.prop('currentSrc') || $img.prop('src');

    // set the background image for the parent
    var $parent = $img.parent();
    $parent.css('backgroundImage', 'url('+src+')');
    // console.log('bg-image set successfully');
  });

  // init Isotope
  var $grid = $('.grid').isotope({
    // options
    itemSelector: '.grid-item',
    percentPosition: true,
    layoutMode: 'fitRows',
    fitRows: {
      columnWidth: '.grid-sizer',
      gutter: '.gutter-sizer',
    },
  });

  $grid.imagesLoaded(function() {
    console.log('images all loaded!');
    var setLayout = function(){
      $('.grid').isotope('layout');
      console.log('layout set!');
    };
    setTimeout(setLayout, 400);
  });


  });

</script>
