<script>
  (function() {


  // init Isotope
  var $grid = $('.grid').isotope({
                // options
                itemSelector: '.grid-item',
                masonry: {
                  columnWidth: '.grid-sizer',
                  gutter: '.gutter-sizer',
                  percentPosition: true
                }
              });

  // trigger layout after each image loads to avoid overlap
  $grid.imagesLoaded().progress( function() {
    $grid.isotope('layout');
  });


  })();
</script>