<script>
  (function() {

    // imgix responsive background-image
    // https://gist.github.com/croxton/9cfa0cca85fbb5f135441653a5b1dd9f
    var $img = $(".js-img");
    if ($img.length) {
      // triggered whenever an image is loaded, including on resize

      $img.each(function() {
        $(this).on('load', function(){

          // legacy browser support
          // picturefill();

          // fallback to src for browsers without srcset support
          var src = $(this).prop('currentSrc') || $(this).prop('src');

          // set the background image for the parent
          var $parent = $(this).parent();
          $parent.css('backgroundImage', 'url('+src+')');
        });
      })
    }

    AOS.init();
    // refresh AOS when images have loaded
    window.addEventListener('load', function() {
      AOS.refresh();
    });

  })();
</script>