<script>
  (function() {

    var HeaderVideo = function(settings) {
        if (settings.element.length === 0) {
            return;
        }
        this.init(settings);
    };

    HeaderVideo.prototype.init = function(settings) {
        this.$element = $(settings.element);
        this.settings = settings;
        this.$content = this.$element.find(settings.content);
        this.$close = this.$element.find(settings.closeTrigger);
        this.$links = this.$element.find(settings.links);

        this.$element.data('aspectRatio', 0.5625);

        this.$close.hide();
        this.setFluidContainer();
        this.bindUIActions();

        /*
        if(this.videoDetails.teaser && Modernizr.video && !Modernizr.touch) {
            this.appendTeaserVideo();
        }
        */
    };

    HeaderVideo.prototype.bindUIActions = function() {
        var that = this;

        this.$links.on('click', 'a', function(e) {
            e.preventDefault();
            that.appendIframe(that.getVideoDetails(this));
        });
        this.$close.on('click', function(e){
            e.preventDefault();
            that.removeIframe();
        });
    };

    HeaderVideo.prototype.appendIframe = function(videoDetails) {
        // Set video aspect ratio
        if (videoDetails.videoWidth && videoDetails.videoHeight) {
            this.$element.data('aspectRatio', videoDetails.videoHeight / videoDetails.videoWidth);
        }

        var html = '';
        if (videoDetails.videoStart) {
            html = '<iframe id="header-video__video-element" src="'+videoDetails.videoURL+'?rel=0&amp;hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*&start='+videoDetails.videoStart+'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
        }
        else {
            html = '<iframe id="header-video__video-element" src="'+videoDetails.videoURL+'?rel=0&amp;hd=1&autohide=1&showinfo=0&autoplay=1&enablejsapi=1&origin=*" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
        }
        this.$content.fadeOut();
        this.$close.fadeIn();
        this.$element.append(html);
    };

    HeaderVideo.prototype.removeIframe = function() {
        this.$content.fadeIn();
        this.$close.fadeOut();
        this.$element.find('#header-video__video-element').remove();
    };

    /*
    HeaderVideo.prototype.appendTeaserVideo = function() {
        var source = this.videoDetails.teaser;
        var html = '<video autoplay="true" loop="true" muted id="header-video__teaser-video" class="header-video__teaser-video"><source src="'+source+'.webm" type="video/mp4"><source src="'+source+'.mp4" type="video/mp4"></video>';
        this.$element.append(html);
    };
    */

    HeaderVideo.prototype.setFluidContainer = function(videoDetails) {
        var element = this.$element;

        $(window).resize(this.windowResize.bind(this));
        this.windowResize();
    };

    HeaderVideo.prototype.getVideoDetails = function(dataElement) {
        var $data = $(dataElement);

        return {
            videoURL: $data.attr('href'),
            videoStart: $data.data('video-start'),
            //teaser: $data.data('teaser'),
            videoHeight: $data.data('video-height'),
            videoWidth: $data.data('video-width')
        };
    };

    HeaderVideo.prototype.windowResize = function() {
        var element = this.$element;
        //element.data('aspectRatio', this.videoDetails.videoHeight / this.videoDetails.videoWidth);

        var windowWidth = $(window).width();
        var windowHeight = $(window).height();

        element.width(Math.ceil(windowWidth));
        element.height(Math.ceil(windowWidth * element.data('aspectRatio'))); //Set the videos aspect ratio, see https://css-tricks.com/fluid-width-youtube-videos/

        if(windowHeight < element.height()) {
        element.width(Math.ceil(windowWidth));
        element.height(Math.ceil(windowHeight));
        }
    }

    $('.header-video').each(function(i, elem) {
        new HeaderVideo({
          element: elem,
          content: '.headline',
          links: '.header-video__links',
          closeTrigger: '.header-video__close-trigger',
        });
    });


    // imgix responsive background-image
    // https://gist.github.com/croxton/9cfa0cca85fbb5f135441653a5b1dd9f
    var $img = $(".js-img");
    if ($img.length) {
      // triggered whenever an image is loaded, including on resize

      $img.each(function() {
        $(this).on('load', function(){

          // legacy browser support
          // picturefill();

          // fallback to src for browsers without srcset support
          var src = $(this).prop('currentSrc') || $(this).prop('src');

          // set the background image for the parent
          var $parent = $(this).parent();
          $parent.css('backgroundImage', 'url('+src+')');
        });
      })
    }

    AOS.init();
    // refresh AOS when images have loaded
    window.addEventListener('load', function() {
      AOS.refresh();
    });

  })();
</script>
