<script>
(function() {

  // init Isotope
  var $grid = $('.grid').isotope({
    // options
    columnWidth: '.grid-sizer',
    itemSelector: '.grid-item',
    hiddenStyle: {
      opacity: 0 // this allows AOS to handle these transitions on scroll
    },
    visibleStyle: {
      opacity: 1 // this a-llows AOS to handle these transitions on scroll
    },
    masonry: {
      gutter: '.gutter-sizer',
      percentPosition: true
    }
  });

  $(function(){ // document ready
    $grid.isotope('layout')
  });


  $('.tabs').on('click', '.isoFilter', function(e) {
    e.preventDefault();
    $(this).parents().find('.isoFilter').removeClass('active');
    $(this).addClass('active');
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({
      filter: filterValue
    });
  });


})();
</script>
