<script>
  (function() {

    // http://stackoverflow.com/a/12016228/6014258
    var preloadImgs = [];
    $('.casestudy').each(function() {
        var img = new Image();
        img.src = "/assets/images/" + $(this).data("img");
        preloadImgs.push(img);
    });

    // swap main image on hover
    var imageDiv = $('#image');
    var caseStudyLinks = $('.casestudy');
    caseStudyLinks.each(function(){
        $(this).hover(function(){
            var image = $(this).data("img");
            var imagePath = "/assets/images/" + image;
            imageDiv.css('background-image', 'url('+ imagePath +')')
        })
    })

    var $grid = $('.grid').isotope({
                  // options
                  columnWidth: '.grid-sizer',
                  itemSelector: '.grid-item',
                  masonry: {
                    gutter: '.gutter-sizer',
                    percentPosition: true
                  }
                });



    $('.tabs').on( 'click', '.isoFilter', function(e) {
        e.preventDefault();
         var filterValue = $(this).attr('data-filter');
         $grid.isotope({ filter: filterValue });
    });

  })();
</script>
