<script>
  (function() {

  // init Isotope
  var $grid = $('.grid').isotope({
    // options
    columnWidth: '.grid-sizer',
    itemSelector: '.grid-item',
    hiddenStyle: {
      opacity: 0 // this allows AOS to handle these transitions on scroll
    },
    visibleStyle: {
      opacity: 1 // this allows AOS to handle these transitions on scroll
    },
    masonry: {
      gutter: '.gutter-sizer',
      percentPosition: true
    }
  });

  // trigger layout after each image loads to avoid overlap
  $grid.imagesLoaded().progress(function() {
    $grid.isotope('layout');
  });

  AOS.init();

  })();
</script>