// suppress warnings about bourbon 5
// $output-bourbon-deprecation-warnings: false;

// base
@import
  "node_modules/normalize.scss/normalize",
  "settings/settings",
  "neat/neat";

// modules
@import
  "modules/vars",
  "modules/common",
  "modules/mixins",
  "modules/header",
  "modules/footer",
  "modules/home";

  // fonts
  @font-face {
      font-family: 'Portrait Web';
      src: url('/assets/fonts/Portrait-Light-Web.eot');
      src: url('/assets/fonts/Portrait-Light-Web.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Portrait-Light-Web.woff2') format('woff2'), url('/assets/fonts/Portrait-Light-Web.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
  }
  @font-face {
      font-family: 'UniversLT-Condensed';
      src: url('/assets/fonts/321C3D_0_0.eot');
      src: url('/assets/fonts/321C3D_0_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/321C3D_0_0.woff2') format('woff2'), url('/assets/fonts//321C3D_0_0.woff') format('woff'), url('/assets/fonts/321C3D_0_0.ttf') format('truetype');
  }
  @font-face {
      font-family: 'UniversLTPro-UltraCn';
      src: url('/assets/fonts/321C3D_1_0.eot');
      src: url('/assets/fonts/321C3D_1_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/321C3D_1_0.woff2') format('woff2'), url('/assets/fonts/321C3D_1_0.woff') format('woff'), url('/assets/fonts/321C3D_1_0.ttf') format('truetype');
  }
  .copy-text {
      font-family: 'Portrait Web';
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
  }
  .header-text {
    font-family: UniversLT-Condensed;
    font-weight: normal;
    font-style: normal;
  }
  .header-text-condensed {
    font-family: UniversLTPro-UltraCn;
    font-weight: normal;
    font-style: normal;
  }

body {

}

.container {
  // @include grid-visual(null, $desktop-grid);
  @include grid-container;
}

.example-1__column-2 {
  @include grid-column(2);
}
.example-1__column-4 {
  @include grid-column;
    @include grid-media($desktop-grid) {
      @include grid-column(4 of 16);
    }
}
.example-1__column-8 {
  @include grid-column;
    @include grid-media($desktop-grid) {
      @include grid-column(8 of 16);
    }
}

.example__column--fancy {
  // background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
  // color: #fff;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
}