// suppress warnings about bourbon 5
// $output-bourbon-deprecation-warnings: false;

// .grid-column {
//   background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
// }

// base
@import
  "node_modules/normalize.scss/normalize",
  "settings/settings",
  "neat/neat";

// modules
@import
  "modules/vars",
  "modules/animate",
  "modules/mixins",
  "modules/common",
  "modules/header",
  "modules/mobile-nav",
  "modules/hamburger",
  "modules/footer",
  "modules/home",
  "modules/remodal",
  "modules/remodal-portfolio",
  "modules/remodal-about",
  "modules/portfolio",
  "modules/casestudy",
  "modules/about",
  "modules/capabilities",
  "modules/clients",
  "modules/press",
  "modules/careers",
  "modules/jobs",
  "modules/job",
  "modules/internships",
  "modules/contact",
  "modules/animation",
  "aos/aos",
  "modules/grid-test";

// visual grid
body.grid {
  .grid-container {
    @include grid-visual(rgba(255, 255, 0, .5), $lg-grid);
  }
}

html, body {
  // overflow-x: hidden; // deal with grid-collapse negative margin
}

.grid-collapse {
  @include grid-container;
  @include breakpoint(300px, 991px) {
    @include grid-collapse($sm-grid);
  }
  @include breakpoint(lg) {
    @include grid-collapse($lg-grid);
  }
}

// grid-container
.grid-container {
    @include grid-container;
    margin: 0 auto;
    width: 95%;
    // width: calc(100vw - 20px);
    @include breakpoint(lg) {
      width: 992px;
    }
    @include breakpoint(xl) {
      width: 1200px;
    }
    @include breakpoint(xxl) {
      width: 1440px;
    }
  }

  // .inner-grid-container {
  //   clear: both;
  //   content: "";
  //   display: block;
  // }

  // full-width outer grid hack
  .grid-container.fluid {
    @media (max-width: 1234px) {
      .grid-column {
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }




  // fonts
  @font-face {
      font-family: 'Portrait Web';
      src: url('../fonts/Portrait-Light-Web.eot');
      src: url('../fonts/Portrait-Light-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Portrait-Light-Web.woff2') format('woff2'), url('../fonts/Portrait-Light-Web.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
  }
  @font-face {
      font-family: 'UniversLT-Condensed';
      src: url('../fonts/321C3D_0_0.eot');
      src: url('../fonts/321C3D_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/321C3D_0_0.woff2') format('woff2'), url('../fonts//321C3D_0_0.woff') format('woff'), url('../fonts/321C3D_0_0.ttf') format('truetype');
  }
  @font-face {
      font-family: 'UniversLTPro-UltraCn';
      src: url('../fonts/321C3D_1_0.eot');
      src: url('../fonts/321C3D_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/321C3D_1_0.woff2') format('woff2'), url('../fonts/321C3D_1_0.woff') format('woff'), url('../fonts/321C3D_1_0.ttf') format('truetype');
  }
  .copy-text {
      font-family: 'Portrait Web';
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
  }
  .header-text {
    font-family: UniversLT-Condensed;
    font-weight: normal;
    font-style: normal;
  }
  .header-text-condensed {
    font-family: UniversLTPro-UltraCn;
    font-weight: normal;
    font-style: normal;
  }

html.load {
  transition: all .3s ease-in;
  opacity: 0;
}

html.loaded {
  transition: all .3s ease-in;
  opacity: 1;
}

body {
  @include breakpoint(300px, 991px) {
    margin-top: 45px;
    &.open {
      overflow: hidden;
    }
  }
  @include breakpoint(lg) {
    margin-top: 72px;
  }
}

