---
layout: default
---
<section class="hero">
  <div class="grid-container fluid">
      <div class="grid-column">
        <div class="hero-image rellax" data-rellax-speed="-2.5">

          <img
            class="js-img"
            src="{{page.hero_image}}"
          >
          <!-- <img
            class="js-img"
            ix-path="{{page.hero_image}}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 1200px) 1166px, (min-width: 1440px) 1440px, 85vw"
          > -->

        </div>
    </div>
  </div>
</section>

<section class="headline-block pull">
  <div class="outer grid-container">
      <div class="grid-column animated customFadeInUp">
        <div class="grid-column--headline">
          <h2 class="header-text-condensed">{{page.title}}</h2>
        </div>
        <div class="grid-column--copy">
          {% for item in page.details %}
            <h3 class="header-text-condensed">{{item.heading}}</h3>
            <p class="copy-text">{{item.copy_markdown | markdownify}}</p>
          {% endfor %}
        </div>
      </div>
  </div>
</section>


<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>

      {% for block in page.image_blocks %}
        {% if block.image_block.image %}
          <div class="grid-item grid-item--width2">
            <img
              src="{{block.image_block.image}}"
              alt="{{block.image_block.image.alt-text}}"
            >
            <!-- <img
              ix-path="{{block.image_block.image}}"
              ix-params='{
                "auto": "compress"
              }'
              sizes="(min-width: 992px) 836px, (min-width: 1200px) 1018px, (min-width: 1440px) 1228px, 90vw"
              alt="{{block.image_block.image.alt-text}}"
            > -->
          </div>
        {% endif %}
        {% if block.image_pair.right_image %}
          <div class="grid-item">
            <img
              src="{{block.image_pair.left_image}}"
              alt="{{block.image_block.left_image.alt-text}}"
            >
            <!-- <img
              ix-path="{{block.image_pair.left_image}}"
              ix-params='{
                "auto": "compress"
              }'
              sizes="(min-width: 992px) 402px, (min-width: 1200px) 489px, (min-width: 1440px) 590px, 45vw"
              alt="{{block.image_block.left_image.alt-text}}"
            > -->
          </div>

          <div class="grid-item">
            <img
              src="{{block.image_pair.right_image}}"
              alt="{{block.image_block.right_image.alt-text}}"
            >
            <!-- <img
              ix-path="{{block.image_pair.right_image}}"
              ix-params='{
                "auto": "compress"
              }'
              sizes="(min-width: 992px) 402px, (min-width: 1200px) 489px, (min-width: 1440px) 590px, 45vw"
              alt="{{block.image_block.right_image.alt-text}}"
            > -->
          </div>
        {% endif %}
      {% endfor %}

      </div>
    </div>
  </div>
</section>


<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
    {% assign items = site.case_studies | where:'draft','false' | sort:"list_order" %}
    {% for item in items %}
      {% if item.title != page.title %}
        {% continue %}
      {% else %}
        {% if forloop.last %}
          <a href="/capabilities">
            <h5 class="header-text">next</h5>
            <span><h2 class="header-text-condensed">capabilities</h2></span>
          </a>
        {% else %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a href="{{ items[next_i].url }}">
            <h5 class="header-text">next</h5>
            <span><h2 class="header-text-condensed">case study</h2></span>
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>







