<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="overlay overlay-huge open">
      <div class="grid-container">
        <div class="grid-column">
          <nav>
            <ul>
              <li class="header-text-condensed"><a href="#">Portfolio</a></li>
              <li class="header-text-condensed"><a href="#">Capabilities</a></li>
              <li class="header-text-condensed"><a href="#">About</a></li>
              <li class="header-text-condensed"><a href="#">Clients</a></li>
              <li class="header-text-condensed"><a href="#">Press</a></li>
              <li class="header-text-condensed"><a href="#">Careers</a></li>
              <li class="header-text-condensed"><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <button type="button" class="overlay-close">Close</button>
    </div>

    {% include footer.html %}

  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

  </body>

  {% if page.class == 'home' %}
    {% include js-home.html %}
  {% endif %}

</html>
