---
layout: default
---

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">3D modeling drafter </h1>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div class="color"></div>
  </div>
</div>


<section class="headline-block flow top">
  <div class="outer grid-container">
    <div class="grid-column">
      <div class="grid-collapse">
        <div class="inner-wrapper">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">job description</h2>
          </div>
          <div class="grid-column--copy">
            <p class="copy-text">Responsible for preparing working plans, detailed drawings, and complete mechanical or electrical drawings of complex components and assemblies from notes, verbal instructions, and rough or detailed sketches, frequently using computerized equipment (Rivet, AutoCAD).  May provide work guidance and supervision to lower level positions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
    <div class="grid-column">
      <div class="grid-collapse">
        <div class="inner-wrapper">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">Duties & responsibilities</h2>
          </div>
          <div class="grid-column--copy">
            <ul>
              <li class="copy-text">Perform engineering computations, write specifications and make adjustments in drawings or specifications</li>
              <li class="copy-text">Verify completed work, checking dimensions, material and quantities to be used</li>
              <li class="copy-text">Work at a level generally involving more advanced design/drafting assignments</li>
              <li class="copy-text">Responsible for all 3D modeling related design and drafting activities</li>
              <li class="copy-text">Perform physical sampling whenever needed, and update with current and upcoming market trends, ideas, and color directions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="headline-block flow bottom">
  <div class="outer grid-container">
    <div class="grid-column">
      <div class="grid-collapse">
        <div class="inner-wrapper">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">Requirements & Qualifications</h2>
          </div>
          <div class="grid-column--copy">
            <ul>
              <li class="copy-text">Perform engineering computations, write specifications and make adjustments in drawings or specifications</li>
              <li class="copy-text">Verify completed work, checking dimensions, material and quantities to be used</li>
              <li class="copy-text">Work at a level generally involving more advanced design/drafting assignments</li>
              <li class="copy-text">Responsible for all 3D modeling related design and drafting activities</li>
              <li class="copy-text">Perform physical sampling whenever needed, and update with current and upcoming market trends, ideas, and color directions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="/contact">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">contact</h2></span>
      </a>
    </div>
  </div>
</section>