body.about {

  @include breakpoint(300px, 1199px) {
    .fluid.grid-container {
      width: 100%;
    }
  }

  .hero {
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(16 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    .hero-image {
      background-image: url("/assets/images/hero-about.jpg");
      background-size: cover;
      background-position: center;
      @include breakpoint(300px, 500px) {
        height: 33vh;
      }
      @include breakpoint(501px, 767px) {
        height: 250px;
      }
      @include breakpoint(md) {
        height: 480px;
      }
      @include breakpoint(lg) {
        height: 621px;
      }
    }
  }

  .headline-block.pull {
    @include breakpoint(xs) {
      padding-top: 50px;
    }
    @include breakpoint(sm) {
      padding-top: 75px;
    }
    @include breakpoint(lg) {
      margin-top: -130px;
    }
  }

  section.offset-images {
    @include breakpoint(xs) {
      margin-top: 40px;
    }
    @include breakpoint(sm) {
      margin-top: 75px;
    }
    @include breakpoint(md) {
      margin-top: 100px;
    }
    @include breakpoint(lg) {
      margin-top: 130px;
      margin-bottom: 100px;
    }
    @include breakpoint(xl) {
      margin-top: 130px;
      margin-bottom: 200px;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
        // @include grid-push(1 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(12 of 16);
        @include grid-push(2 of 16);
      }
    }
    .left {
      @include breakpoint(300px, 767px) {
        margin-bottom: 30px;
      }
      @include breakpoint(md) {
        float: left;
      }
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
           width: 40vw;
           max-width: 40vw;
         }
         @include breakpoint(lg) {
           width: 341px;
           max-width: 341px;
         }
         @include breakpoint(xl) {
           width: 413px;
           max-width: 413px;
         }
        @include breakpoint(xxl) {
          width: 496px;
          max-width: 496px;
        }
      }
    }
    .right {
      float: right;
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
          margin-top: 74px;
          width: 40vw;
          max-width: 40vw;
         }
         @include breakpoint(lg) {
           margin-top: 96px;
           width: 341px;
           max-width: 341px;
         }
         @include breakpoint(xl) {
           margin-top: 116px;
           width: 413px;
           max-width: 413px;
         }
        @include breakpoint(xxl) {
          margin-top: 140px;
          width: 496px;
          max-width: 496px;
        }
      }
    }
  }

}