body.about {

  @include breakpoint(300px, 1199px) {
    .fluid.grid-container {
      width: 100%;
    }
  }

  .hero {
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(16 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    .hero-image {
      background-image: url("/assets/images/hero-about.jpg");
      background-size: cover;
      background-position: center;
      @include breakpoint(300px, 500px) {
        height: 33vh;
      }
      @include breakpoint(501px, 767px) {
        height: 250px;
      }
      @include breakpoint(md) {
        height: 480px;
      }
      @include breakpoint(lg) {
        height: 621px;
      }
    }
  }

  .headline-block.pull {
    @include breakpoint(xs) {
      padding-top: 50px;
    }
    @include breakpoint(sm) {
      padding-top: 75px;
    }
    @include breakpoint(lg) {
      margin-top: -130px;
    }
  }

  section.offset-images {
    @include breakpoint(xs) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @include breakpoint(sm) {
      margin-top: 75px;
      margin-bottom: 75px;
    }
    @include breakpoint(md) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    @include breakpoint(lg) {
      margin-top: 130px;
      margin-bottom: 100px;
    }
    @include breakpoint(xl) {
      margin-top: 130px;
      margin-bottom: 130px;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
        // @include grid-push(1 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(12 of 16);
        @include grid-push(2 of 16);
      }
    }
    .left {
      p {
        text-transform: uppercase;
        font-size: 12px;
        color: $text;
        letter-spacing: 1px;
        margin-top: .8rem;
        margin-bottom: 0;
      }
      @include breakpoint(300px, 767px) {
        margin-bottom: 30px;
      }
      @include breakpoint(md) {
        float: left;
      }
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
           width: 40vw;
           max-width: 40vw;
         }
         @include breakpoint(lg) {
           width: 341px;
           max-width: 341px;
         }
         @include breakpoint(xl) {
           width: 413px;
           max-width: 413px;
         }
        @include breakpoint(xxl) {
          width: 496px;
          max-width: 496px;
        }
      }
    }
    .right {
      float: right;
      p {
        text-transform: uppercase;
        font-size: 12px;
        color: $text;
        letter-spacing: 1px;
        margin-top: .8rem;
        margin-bottom: 0;
      }
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
          margin-top: 74px;
          width: 40vw;
          max-width: 40vw;
         }
         @include breakpoint(lg) {
           margin-top: 96px;
           width: 341px;
           max-width: 341px;
         }
         @include breakpoint(xl) {
           margin-top: 116px;
           width: 413px;
           max-width: 413px;
         }
        @include breakpoint(xxl) {
          margin-top: 140px;
          width: 496px;
          max-width: 496px;
        }
      }
    }
  }

  section.offset-images.bottom {
    @include breakpoint(xs) {
      margin-top: 0px;
      margin-bottom: 40px;
    }
    @include breakpoint(sm) {
      margin-top: 0px;
      margin-bottom: 75px;
    }
    @include breakpoint(md) {
      margin-top: 0px;
      margin-bottom: 100px;
    }
    @include breakpoint(lg) {
      margin-top: 0px;
      margin-bottom: 100px;
    }
    @include breakpoint(xl) {
      margin-top: 0px;
      margin-bottom: 130px;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
        // @include grid-push(1 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(12 of 16);
        @include grid-push(2 of 16);
      }
    }
    .left {
      @include breakpoint(300px, 767px) {
        margin-bottom: 30px;
      }
      @include breakpoint(md) {
        float: left;
      }
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
           width: 30vw;
           max-width: 30vw;
         }
         @include breakpoint(lg) {
           width: 242px;
           max-width: 242px;
         }
         @include breakpoint(xl) {
           width: 317px;
           max-width: 317px;
         }
        @include breakpoint(xxl) {
          width: 380px;
          max-width: 380px;
        }
      }
    }
    .right {
      float: right;
      img {
         width: 100%;
         max-width: 100%;
         @include breakpoint(md) {
          margin-top: 74px;
          width: 50vw;
          max-width: 50vw;
         }
         @include breakpoint(lg) {
           margin-top: 96px;
           width: 413px;
           max-width: 413px;
         }
         @include breakpoint(xl) {
           margin-top: 116px;
           width: 500px;
           max-width: 500px;
         }
        @include breakpoint(xxl) {
          margin-top: 140px;
          width: 600px;
          max-width: 600px;
        }
      }
    }
  }

  section.text-block {
    background-color: #f8f7f5;
    text-align: center;
    padding: 85px 0 85px 0; // 50%
    @include breakpoint(md) {
      // 70%
      padding: 108px 0 108px 0;
    }
    @include breakpoint(lg) {
      padding: 140px 0 140px 0;
    }
    @include breakpoint(xl) {
      padding: 170px 0 170px 0;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(10 of 16);
        @include grid-push(3 of 16);
      }
    }
    h1 {
      font-size: 36px;
      line-height: 1.25;
      @include breakpoint(lg) {
        font-size: 46px;
        line-height: 1.17;
      }
      line-height: 1.17;
      font-weight: 300;
      margin: 0;
      text-align: center;
      color: #A45833;
    }
  }

  section.headline-block.flow {
    .grid-column {
      @include breakpoint(xs) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @include breakpoint(sm) {
        padding-top: 96px;
        padding-bottom: 96px;
      }
      @include breakpoint(md) {
        padding-top: 128px;
        padding-bottom: 128px;
      }
      @include breakpoint(lg) {
        padding-top: 165px;
        padding-bottom: 165px;
      }
      @include breakpoint(xl) {
        padding-top: 200px;
        padding-bottom: 200px;
      }
    }
  }

  .single-image-block {
    @include breakpoint(300px, 768px) {
      .fluid.grid-container {
        width: 100%;
      }
    }
    @include breakpoint(xl) {
      // padding-bottom: 200px;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  section.gallery {
    @include breakpoint(xs) {
      margin-bottom: 40px;
    }
    @include breakpoint(sm) {
      margin-bottom: 75px;
    }
    @include breakpoint(md) {
      margin-bottom: 100px;
    }
    @include breakpoint(lg) {
      margin-bottom: 200px;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(12 of 16);
        @include grid-push(2 of 16);
      }
    }

    h3 {
      @include breakpoint(xs) {
        margin-top: 50px;
      }
      @include breakpoint(sm) {
        margin-top: 70px;
      }
      @include breakpoint(md) {
        margin-top: 93px;
      }
      @include breakpoint(lg) {
        margin-top: 120px;
      }
      @include breakpoint(xl) {
        margin-top: 146px;
      }
      @include breakpoint(xxl) {
        margin-top: 175px;
      }
      font-size: 18px;
      margin-bottom: 1.5em;
      text-align: center;
      letter-spacing: 1px;
      color: $text;
      text-transform: uppercase;
    }

    @include breakpoint(300px) {
      .gutter-sizer {
        width: 4%;
      }
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 48%;
      }
      .grid-item {
        .staff-name {
          margin-top: 1rem;
          margin-bottom: 0;
          text-align: left;
        }
        .staff-title {
          text-transform: uppercase;
          font-size: 12px;
          color: $text;
          letter-spacing: 1px;
          margin-top: 2px;
          margin-bottom: 0;
        }
        .staff-bio {
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;
          color: $text;
          letter-spacing: 1px;
          margin-top: .8rem;
          padding-bottom: 6px;
          border-bottom: 1px solid $brand;
        }
        margin-bottom: 30px;
      }
      .grid-item:hover{
        cursor: pointer;
      }
    }

    @include breakpoint(568px) {
      .gutter-sizer {
        width: 4%;
      }
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 48%;
      }
      .grid-item {
        margin-bottom: 30px;
      }
    }

    @include breakpoint(736px) {
      .gutter-sizer {
        width: 2%;
      }
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 49%;
      }
      .grid-item {
        margin-bottom: 6px;
      }
    }

    @include breakpoint(800px) {
      .gutter-sizer {
        width: 5%;
      }
      .grid-sizer, .grid-item {
        width: 30%;
      }
      .grid-item {
        margin-bottom: 28px;
      }
    }
    @include breakpoint(lg) {
      .grid-item {
        margin-bottom: 38px;
      }
    }
    @include breakpoint(xl) {
      .grid-item {
        margin-bottom: 46px;
      }
    }

    img {
      width: 100%;
    }
  }


  section.next {
    height: 250px;
    @include breakpoint(md) {
      // 80%
      height: 400px;
    }
    @include breakpoint(xl) {
      height: 500px;
    }
    background-color: $near-black;
    text-align: center;
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(3 of 8);
        // @include grid-push(1 of 12);
      }
      @include grid-media($lg-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      .color {

        width: 100%;
        height: 18px;
        background-color: #A45833;
        margin-top: -9px;
      }
    }
    .center {
      @include vertical-align;
    }
    a {
      text-decoration: none;
      h5 {
        font-size: 12px;
        letter-spacing: 2px;
        color: #A45833;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: .8em;
      }
      h2 {
        font-size: 44px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

  .remodal {
    h2 {
      font-size: 36px;
      @include breakpoint(768px) {
        font-size: 44px;
      }
      line-height: 1;
      margin: 0;
      color: $text;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
    }
    h5 {
      font-size: 12px;
      margin-top: .8em;
      margin-bottom: 0;
      color: $text;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 5%;
      @include breakpoint(768px) {
        padding-bottom: 10%;
      }
    }
    p {
      font-size: 19px;
      line-height: 27px;
      @include breakpoint(768px) {
        padding: 0 70px;
      }
      margin-top: 0;
      margin-bottom: 1em;
      text-align: left;
    }
    p.quote {
      font-size: 24px;
      line-height: 36px;
      @include breakpoint(768px) {
        font-size: 36px;
        line-height: 45px;
      }
      color: $brand;
      @include breakpoint(768px) {
        text-align: center;
      }
      padding-bottom: 5%;
      @include breakpoint(768px) {
        padding: 0 30px 10% 30px;
      }
      margin: 0;
    }

  }

}