.capabilities {
  @include breakpoint(300px, 1199px) {
    .fluid.grid-container {
      width: 100%;
    }
  }

  .hero {
    img {
      display: none;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(16 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(16 of 16);
        // @include grid-push(1 of 16);
      }
    }
    .hero-image {
      background-size: cover;
      background-position: center;
      @include breakpoint(300px, 500px) {
        height: 33vh;
      }
      @include breakpoint(501px, 767px) {
        height: 250px;
      }
      @include breakpoint(md) {
        height: 480px;
      }
      @include breakpoint(lg) {
        height: 621px;
      }
    }
  }

  .headline-block.pull {
    @include breakpoint(xs) {
      padding-top: 50px;
      padding-bottom: 22px;
    }
    @include breakpoint(sm) {
      padding-top: 75px;
      padding-bottom: 32px;
    }
    @include breakpoint(md) {
      padding-top: 90px;
      padding-bottom: 39px;
    }
    @include breakpoint(lg) {
      padding-top: 0;
      padding-bottom: 0;
      .grid-column {
        margin-top: -130px;
        padding-top: 70px;
        padding-bottom: 30px;
      }
    }
    @include breakpoint(xl) {
      // padding-top: 0;
      .grid-column {
        margin-top: -130px;
        padding-top: 85px;
        padding-bottom: 85px;
      }
    }
  }

  .image-text-block.top {
    @include breakpoint(xs) {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    @include breakpoint(sm) {
      margin-top: 96px;
      margin-bottom: 45px;
    }
    @include breakpoint(md) {
      margin-top: 128px;
      margin-bottom: 45px;
    }
    @include breakpoint(lg) {
      margin-top: 135px;
      margin-bottom: 58px;
    }
    @include breakpoint(xl) {
      margin-top: 150px;
      margin-bottom: 70px;
    }
  }
  .image-text-block.bottom {
    @include breakpoint(xs) {
      margin-top: 0;
      margin-bottom: 16px;
    }
    @include breakpoint(sm) {
      margin-top: 0;
      margin-bottom: 34px;
    }
    @include breakpoint(md) {
      margin-bottom: 128px;
    }
    @include breakpoint(lg) {
      margin-bottom: 135px;
    }
    @include breakpoint(xl) {
      margin-bottom: 150px;
    }
  }


}