.capabilities {
  @include breakpoint(300px, 1199px) {
    .fluid.grid-container {
      width: 100%;
    }
  }

  .hero {
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(16 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    .hero-image {
      background-image: url("/uploads/hero-about.jpg");
      background-size: cover;
      background-position: center;
      @include breakpoint(300px, 500px) {
        height: 33vh;
      }
      @include breakpoint(501px, 767px) {
        height: 250px;
      }
      @include breakpoint(md) {
        height: 480px;
      }
      @include breakpoint(lg) {
        height: 621px;
      }
    }
  }

  .image-text-block.top {
    @include breakpoint(xl) {
      margin-top: 200px;
      margin-bottom: 70px;
    }
  }
  .image-text-block.bottom {
    @include breakpoint(xl) {
      margin-top: 0;
      margin-bottom: 200px;
    }
  }


}