body.casestudy {

  @include breakpoint(300px, 1199px) {
    .fluid.grid-container {
      width: 100%;
    }
  }

  .hero {
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(16 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    .hero-image {
      background-image: url("/uploads/casestudy-cakewalk.jpg");
      background-size: cover;
      background-position: center;
      @include breakpoint(300px, 500px) {
        height: 33vh;
      }
      @include breakpoint(501px, 767px) {
        height: 250px;
      }
      @include breakpoint(md) {
        height: 480px;
      }
      @include breakpoint(lg) {
        height: 621px;
      }
    }
  }

  .headline-block.pull {
    @include breakpoint(xs) {
      padding-top: 50px;
    }
    @include breakpoint(sm) {
      padding-top: 75px;
    }
    @include breakpoint(lg) {
      padding-top: 0;
      .grid-column {
        margin-top: -130px;
        padding-top: 90px;
      }
    }
  }

  section.gallery {
    @include breakpoint(xs) {
      margin-bottom: 40px;
      margin-top: 40px;
    }
    @include breakpoint(sm) {
      margin-bottom: 75px;
      margin-top: 75px;
    }
    @include breakpoint(md) {
      margin-top: 40px;
      margin-bottom: 100px;
    }
    @include breakpoint(lg) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    @include breakpoint(xl) {
      margin-top: 100px;
      margin-bottom: 200px;
    }
    img {
      width: 100%;
      display: block;
    }

    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }

    @include breakpoint(300px) {
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 100%;
      }
      .grid-item {
        margin-bottom: 27px;
      }
    }

    @include breakpoint(568px) {
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 100%;
      }
      .grid-item {
        margin-bottom: 27px;
      }
    }

    @include breakpoint(736px) {
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 100%;
      }
      .grid-item {
        margin-bottom: 27px;
      }
    }

    @include breakpoint(800px) {

      .gutter-sizer {
        width: 4%;
      }
      .grid-sizer, .grid-item {
        // width: calc(48% + 8px);
        width: 48%;
      }
      .grid-item--width2 {
        width: 100%;
      }
      .grid-item {
        margin-bottom: 28px;
      }
    }

    @include breakpoint(lg) {
      .grid-item {
        margin-bottom: 36px;
      }
    }

    @include breakpoint(xl) {
      .grid-item {
        margin-bottom: 40px;
      }
    }

    @include breakpoint(xxl) {
      .grid-item {
        margin-bottom: 48px;
      }
    }


  }


}