html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// HEADLINE BLOCK
.headline-block {
  .outer.grid-container {
    @include breakpoint(xl) {
      // margin-top: -175px;
      // height: 500px;
    }
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
      background-color: white;
    }
    @include grid-media($lg-grid) {
      padding-top: 91px;
      background-color: white;
      @include grid-column(12 of 16);
      @include grid-push(2 of 16);
    }
  }
  .grid-column--headline {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(3 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(4 of 12);
      @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    @include breakpoint(sm) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    @include breakpoint(md) {
      h2 {
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    @include breakpoint(lg) {
      h2 {
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .grid-column--copy {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(5 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(6 of 12);
      // @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 1em 0;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
    }
    @include breakpoint(sm) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 1em 0;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
    }
    @include breakpoint(md) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 1em 0;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
    }
    @include breakpoint(lg) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 1em 0;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
        }
      }

    }
  }
}










