html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small .wrapper {
  @media (max-width: 768px) {
    display: block;
  }
  @media (min-width: 769px) {
    display: none;
  }
}

.not-small .wrapper {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 769px) {
    display: block;
  }
}

// LIST-BLOCK
section.list-block {
  background-color: #f8f7f5;
  .outer.grid-container {
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(12 of 16);
      @include grid-push(3 of 16);
    }
    @include grid-media($xl-grid) {
      @include grid-column(12 of 16);
      @include grid-push(2 of 16);
    }
    @include breakpoint(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include breakpoint(sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint(md) {
      padding-top: 53px;
      padding-bottom: 53px;
    }
    @include breakpoint(lg) {
      padding-top: 69px;
      padding-bottom: 69px;
    }
    @include breakpoint(xl) {
      padding-top: 83px;
      padding-bottom: 83px;
    }
    @include breakpoint(xxl) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  .list-column {
    @include grid-media($sm-grid) {
      @include grid-column(4 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(4 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(4 of 12);
      // @include grid-push(1 of 12);
    }
    @include grid-media($xl-grid) {
      @include grid-column(2 of 12);
      @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      p {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 1.75rem;
        letter-spacing: 1px;
        color: #202020;
        text-transform: uppercase;
      }
    }
    @include breakpoint(sm) {
      p {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 1.75rem;
        letter-spacing: 1px;
        color: #202020;
        text-transform: uppercase;
      }

    }
    @include breakpoint(md) {

    }
    @include breakpoint(lg) {

    }
  }
}

// HEADLINE BLOCK
section.headline-block {
  .outer.grid-container {
    @include breakpoint(xl) {
      // margin-top: -175px;
      // height: 500px;
    }
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
      background-color: white;
    }
    @include grid-media($lg-grid) {
      background-color: white;
      @include grid-column(14 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($xl-grid) {
      background-color: white;
      @include grid-column(12 of 16);
      @include grid-push(2 of 16);
    }
  }
  .grid-column--headline {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(3 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(4 of 12);
      @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    @include breakpoint(sm) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    @include breakpoint(md) {
      h2 {
        font-size: 44px;
        line-height: 44px;
      }
    }
    @include breakpoint(lg) {
      h2 {
        margin-bottom: 0;
      }
    }
  }
  .grid-column--copy {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(5 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(6 of 12);
      // @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 .5em 0;
        font-family: 'Portrait Web';
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
          font-family: 'Portrait Web';
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
        }
      }
    }
    @include breakpoint(sm) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 6px;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 .5em 0;
        font-family: 'Portrait Web';
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
      }
      ul {
        padding-left: 1.5em;
        margin: 0;
        li {
          padding-left: .3em;
          font-size: 19px;
          line-height: 27px;
          color: $near-black;
          margin-top: 0;
          margin-bottom: 6px;
          font-family: 'Portrait Web';
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
        }
      }
    }
    @include breakpoint(md) {
    }
    @include breakpoint(lg) {
    }
  }
}

section.headline-block.flow {
  .grid-column {
    @include breakpoint(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
      .inner-wrapper {
        float: left;
        margin-bottom: 48px;
      }
    }
    @include breakpoint(sm) {
      padding-top: 80px;
      padding-bottom: 80px;
      .inner-wrapper {
        float: left;
        margin-bottom: 48px;
      }
    }
    @include breakpoint(md) {
      padding-top: 106px;
      padding-bottom: 106px;
      .inner-wrapper {
        margin-bottom: 64px;
      }
    }
    @include breakpoint(lg) {
      padding-top: 138px;
      padding-bottom: 138px;
      .inner-wrapper {
        margin-bottom: 83px;
      }
    }
    @include breakpoint(xl) {
      padding-top: 140px;
      padding-bottom: 140px;
      .inner-wrapper {
        margin-bottom: 100px;
      }
    }
    @include breakpoint(xxl) {
      padding-top: 150px;
      padding-bottom: 150px;
      .inner-wrapper {
        margin-bottom: 100px;
      }
    }
  }
}

.headline-block.pull {
  @include breakpoint(xs) {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  @include breakpoint(sm) {
    padding-top: 75px;
    padding-bottom: 0px;
  }
  @include breakpoint(md) {
    padding-top: 90px;
    padding-bottom: 0px;
  }
  @include breakpoint(lg) {
    padding-top: 0;
    padding-bottom: 0;
    .grid-column {
      margin-top: -130px;
      padding-top: 70px;
      padding-bottom: 0px;
    }
  }
  @include breakpoint(xl) {
    // padding-top: 0;
    .grid-column {
      margin-top: -130px;
      padding-top: 85px;
      padding-bottom: 0px;
    }
  }
}


section.next {
  @include breakpoint(xs) {
    height: 300px;
  }
  @include breakpoint(sm) {
    height: 300px;
  }
  @include breakpoint(md) {
    height: 400px;
  }
  @include breakpoint(lg) {
  }
  @include breakpoint(xl) {
    height: 500px;
  }
  @include breakpoint(xxl) {
  }
  background-color: $near-black;
  text-align: center;
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(3 of 8);
      // @include grid-push(1 of 12);
    }
    @include grid-media($lg-grid) {
      @include grid-column(2 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($xl-grid) {
      @include grid-column(2 of 16);
      @include grid-push(1 of 16);
    }
    .color {
      width: 100%;
      height: 18px;
      background-color: #A45833;
      margin-top: -9px;
    }
  }
  .center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .link-wrapper {
    flex: 0 1 auto;
  }
  a {
    display: inline-block;
    text-decoration: none;
    // background-color: red;
    padding: 2rem;
    h5 {
      transition: all 0.3s ease;
      font-size: 12px;
      letter-spacing: 2px;
      color: #A45833;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: .8em;
    }
    h2 {
      transition: all 0.3s ease;
      font-size: 44px;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0;
      display: inline-block;
    }
    span {
      transition: all 0.3s ease;
      display: inline-block;
      background-color: #202020;
    }
  }
  a:hover {
    h5 {
      transform: translateY(20px);
    }
    span {
      transform: translateY(-20px);
    }
  }
  h2:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width 0s ease, background .5s ease;
  }
  h2:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: $brand;
    transition: width .5s ease;
  }
  a:hover h2:before {
    width: 100%;
    background: $brand;
    transition: width .5s ease;
  }
  a:hover h2:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }
}



section.text-block {
  background-color: #f8f7f5;
  text-align: center;
  padding: 63px 0 63px 0; // 50%
  @include breakpoint(md) {
    // 70%
    padding: 108px 0 108px 0;
  }
  @include breakpoint(lg) {
    padding: 140px 0 140px 0;
  }
  @include breakpoint(xl) {
    padding: 170px 0 170px 0;
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(10 of 16);
      @include grid-push(3 of 16);
    }
  }
  h1 {
    font-size: 36px;
    line-height: 1.25;
    @include breakpoint(lg) {
      font-size: 46px;
      line-height: 1.17;
    }
    line-height: 1.17;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: #A45833;
  }
}

section.image-text-block {
  .outer.grid-container {
    @include breakpoint(xl) {
    }
  }
  .grid-column {
    @media (min-width: 769px) {
      display: flex; // to use flexbox inside
    }
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
      background-color: white;
    }
    @include grid-media($lg-grid) {
      background-color: white;
      @include grid-column(14 of 16);
      @include grid-push(1 of 16);
    }
  }
  .grid-column--headline {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(3 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(5 of 14);
      @include grid-push(1 of 12);
    }
    @include breakpoint(xs) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 .5em 0;
      }
    }
    @media (min-width: 768px) {
      p {
        margin-bottom: 2rem;
      }
    }
    @include breakpoint(sm) {
      h2 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: $near-black;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 .5em 0;
      }
    }
    @media (min-width: 769px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .wrapper {
        flex: 0 1 auto;
      }
    }
    @include breakpoint(md) {
      h2 {
        font-size: 44px;
        line-height: 44px;
      }
    }
    @include breakpoint(lg) {
      h2 {
        margin-bottom: 25px;
      }
    }
    @include breakpoint(xl) {
      .wrapper {
        margin-right: 2rem;
      }
    }
  }
  .grid-column--image {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(5 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(8 of 14);
      // @include grid-push(1 of 12);
    }
    @media (max-width: 768px) {
      margin-bottom: 1.5rem
    }
    @include breakpoint(xs) {
      img {
        width: 100%;
      }
    }
    @include breakpoint(sm) {
      img {
        width: 100%;
      }
    }
    @include breakpoint(md) {
    }
    @include breakpoint(lg) {
    }
    @include breakpoint(xl) {
    }
  }
}

section.jumbo-hero {
  background-color: #202020;
  @include breakpoint(xs) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include breakpoint(sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include breakpoint(md) {
    padding-top: 106px;
    padding-bottom: 106px;
  }
  @include breakpoint(lg) {
    padding-top: 138px;
    padding-bottom: 138px;
  }
  @include breakpoint(xl) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  @include breakpoint(xxl) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  h1 {
    color: white;
    @include breakpoint(300px, 374px) {
      // @include vertical-align(absolute);
      font-size: 28px;
      line-height: 1.1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    @include breakpoint(375px, 700px) {
      // @include vertical-align(absolute);
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 300;
    }
    @include breakpoint(701px) {
      // @include vertical-align(absolute);
      font-size: 63px;
      line-height: 1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  .headline {
    @include grid-media($sm-grid) {
      @include grid-column(7 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(12 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($xl-grid) {
      @include grid-column(8 of 16);
      @include grid-push(1 of 16);
    }
  }
}

.jumbo-hero-color {
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(3 of 8);
      // @include grid-push(1 of 12);
    }
    @include grid-media($lg-grid) {
      @include grid-column(2 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($xl-grid) {
      @include grid-column(2 of 16);
      @include grid-push(1 of 16);
    }
    .color {
      width: 100%;
      height: 18px;
      background-color: #A45833;
      margin-top: -9px;
    }
  }
}









