.contact {

  section.contact-details {
    margin-top: -9px;
    background-color: #f8f7f5;
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(6 of 16);
        @include grid-push(1 of 16);
      }
    }
    .grid-column.top {
      @include breakpoint(xs) {
        padding-bottom: 3rem;
      }
      @include breakpoint(sm) {
        padding-bottom: 3rem;
      }
      @include breakpoint(md) {
      }
      @include breakpoint(lg) {
        padding-bottom: 3rem;
      }
      @include breakpoint(xl) {
      }
      @include breakpoint(xxl) {
      }
    }
    .grid-column.bottom {
      @include breakpoint(xs) {
        padding-bottom: 3rem;
      }
      @include breakpoint(sm) {
        padding-bottom: 3rem;
      }
      @include breakpoint(md) {
      }
      @include breakpoint(lg) {
      }
      @include breakpoint(xl) {
      }
      @include breakpoint(xxl) {
      }
    }
    @include breakpoint(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint(sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint(md) {
      padding-top: 53px;
      padding-bottom: 53px;
    }
    @include breakpoint(lg) {
      padding-top: 69px;
      padding-bottom: 69px;
    }
    @include breakpoint(xl) {
      padding-top: 83px;
      padding-bottom: 83px;
    }
    @include breakpoint(xxl) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include breakpoint(xs) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 1rem;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0;
      }
      a {
        transition: all 0.3s ease;
        text-decoration: none;
        color: $text;
        letter-spacing: 1px;
        padding-bottom: 2px;
        border-bottom: 1px solid $brand;
        &:hover {
          color: $brand;
          border-bottom: 1px solid transparent;
        }
      }
    }
    @include breakpoint(sm) {
      h3 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1.5px;
        color: $text;
        margin-top: 30px;
        margin-bottom: 1rem;
        text-transform: uppercase;
        &:first-of-type {
          margin-top: 0px;
        }
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0;
      }
      a {
        transition: all 0.3s ease;
        text-decoration: none;
        color: $text;
        letter-spacing: 1px;
        padding-bottom: 2px;
        border-bottom: 1px solid $brand;
        &:hover {
          color: $brand;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }



}