// GRID
footer.container {
  @include grid-media($desktop-grid) {
    @include grid-column(14 of 16);
    @include grid-push(1, $desktop-grid);
  }
}

// STYLES
// STYLES
footer.container {
  @include grid-container;

  @include breakpoint(lg) {
    .va-wrapper {
      height: 72px;
      text-align: center;
    }
    .left {
      float: left;
      height: 100%;
    }
    .right {
      float: right;
      height: 100%;
    }
    .left p, .right p {
      @include vertical-align();
      margin: 0;
      text-decoration: none;
      color: $text;
      font-weight: 100;
      letter-spacing: 1px;
      display: inline-block;
    }

  }

}