body.grid-test {

  .grid-collapse {

  }

  .column-1 {
    @include grid-column()
    @include grid-media($lg-grid) {
      @include grid-column(8 of 16);
      // @include grid-push(1 of 16);
      background-color: firebrick;
    }
  }

  .inner-grid-column {
    @include grid-media($lg-grid) {
      @include grid-column(8 of 8);
      // @include grid-push(1 of 16);
      background-color: lightgreen;
    }
  }

  .column-2 {
    @include grid-column()
    @include grid-media($lg-grid) {
      @include grid-column(8 of 16);
      // @include grid-push(1 of 16);
      background-color: lightblue;
    }
  }






}


