@include breakpoint(300px, 991px) {
  .fixed-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #fff;
    z-index: 99;
  }
}

@include breakpoint(lg) {
  .fixed-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // height: 45px;
    background-color: #fff;
    z-index: 99;
  }
}

header {

  // @include breakpoint(300px, 991px) {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 45px;
  //   // z-index: 999;
  // }

  font-size: 12px;

  .grid-column {
    @include grid-media($mobile-grid) {
      @include grid-column(12 of 12);
    }
    @include grid-media($mid-grid) {
      @include grid-column(14 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($desktop-grid) {
      @include grid-column(14 of 16);
      @include grid-push(1 of 16);
    }

    .c-hamburger {
      @include breakpoint(300px, 991px) {
        position: absolute;
        top: 3px;
        right: -16px;
        margin: 0px !important;
        // margin-right: .75rem;
      }
      @include breakpoint(lg) {
        display: none;
      }
    }

    .left a, .right a {
      transition: all 0.3s ease;
    }

    @include breakpoint(300px, 991px) {
      .menu {
        width: 60px;
        height: 45px;
        float: right;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1px;
        color: #202020;
        p {
          @include vertical-align();
          margin: 0;
        }
        &:hover{
          cursor: pointer;
        }
      }
      .va-wrapper {
        position: relative;
        height: 45px;
      }
      .va-wrapper img {
        @include vertical-align();
        width: 145px;
      }
      .left, .right {
        display: none;
      }
    }

    @include breakpoint(lg) {
      .menu {
        display: none;
      }
      .va-wrapper {
        position: relative;
        height: 72px;
        text-align: center;
      }
      .logo-wrapper {
        width: 100%;
        height: 72px;
        text-align: center;
      }
      .va-wrapper img {
        @include vertical-align();
        width: 145px;
      }
      .left {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // float: left;
        height: 100%;
        a {
          margin-left: 1.5rem;
          padding-bottom: 5px;
          border-bottom: 2px solid transparent;
          &:first-of-type {
            margin-left: 0;
          }
          &.active {
            border-bottom: 2px solid $brand;
          }
          &:hover{
            border-bottom: 2px solid $brand;
          }
        }
      }
      .right {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        // float: right;
        height: 100%;
        a {
          margin-right: 1.5rem;
          padding-bottom: 5px;
          border-bottom: 2px solid transparent;
          &:last-of-type {
            margin-right: 0;
          }
          &.active {
            border-bottom: 2px solid $brand;
          }
          &:hover{
            border-bottom: 2px solid $brand;
          }
        }
      }
      .left a, .right a {
        position: relative;
        top: 60%;
        transform: translateY(-60%);
        text-decoration: none;
        color: $text;
        font-weight: 100;
        letter-spacing: 1px;
        display: inline-block;
      }

    }

    @include breakpoint(xl) {
      .left {
        a {
          margin-left: 2rem;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
      .right {
        a {
          margin-right: 2rem;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

  }
}