body.home {

  section.header-video {
    // @include grid-container;
    position: relative;
    overflow: hidden;
    clear: both;
    img {
      height: 100% !important;
      position: absolute;
    }
    iframe,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    iframe {
      height: 100%;
      width: 100%;
    }

    video {
      width: 100%;
    }

    .header-video__teaser-video {
      width: 100%;
      height: auto;
    }

    .header-video__media {
      width: 100%;
      height: auto;
    }

    .grid-container {
    }

    .headline {
      @include grid-media($sm-grid) {
        @include grid-column(7 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(8 of 16);
        @include grid-push(1 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(6 of 16);
        @include grid-push(1 of 16);
      }
      p {
        margin: 0;
      }
      @include breakpoint(300px, 374px) {
        @include vertical-align(absolute);
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
        a {
          display: block;
          text-decoration: none;
          &:hover {
            background-color: transparent;
          }
        }
      }
      @include breakpoint(375px, 700px) {
        @include vertical-align(absolute);
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
        a {
          display: block;
          text-decoration: none;
          &:hover {
            background-color: transparent;
          }
        }
      }
      @include breakpoint(701px) {
        @include vertical-align(absolute);
        font-size: 63px;
        line-height: 1;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
        a {
          display: block;
          text-decoration: none;
          padding: 0 3rem 3rem 0;
          &:hover {
            background-color: transparent;
          }
        }
      }

      span {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        font-size: 18px;
        line-height: 1.16;
        padding-bottom: 6px;
        border-bottom: 1px solid $brand;
      }
    }

    .header-video__close-trigger {
      z-index: 99;
      position: absolute;
      background-color: rgba(0,0,0, .2);
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 1;
      padding: .5rem 1rem;
      right: 30px;
      top: 30px;
      -webkit-transition: background .3s;
      -moz-transition: background .3s;
      transition: background .3s;
      border: none;
      text-transform: uppercase;
    }
    .header-video__close-trigger:hover {
      background-color: rgba(0,0,0, .4);
      cursor: pointer;
    }
  }



  section.intro {
    background-color: #f8f7f5;
    text-align: center;
    padding: 85px 0 60px 0; // 50%
    @include breakpoint(md) {
      // 70%
      padding: 136px 0 96px 0;
    }
    @include breakpoint(lg) {
      padding: 170px 0 120px 0;
    }
    @include breakpoint(xl) {
      padding: 170px 0 120px 0;
    }
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($lg-grid) {
        @include grid-column(10 of 16);
        @include grid-push(3 of 16);
      }
    }
    h1 {
      font-size: 36px;
      line-height: 1.25;
      @include breakpoint(lg) {
        font-size: 46px;
        line-height: 1.17;
      }
      line-height: 1.17;
      font-weight: 300;
      margin: 0;
      text-align: center;
      color: #A45833;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 18px;
      // line-height: 1.5;
      padding-bottom: 6px;
      border-bottom: 1px solid $brand;
      letter-spacing: 1px;
      color: $near-black;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      @include breakpoint(md) {
        margin-left: 3rem;
        margin-right: 3rem;
      }
      a {
        color: $near-black;
        text-decoration: none;
      }
    }
  }

  section.case-studies {
    @include breakpoint(300px, 768px) {
      .grid-container {
        width: 100%;
      }
    }
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 100px;
    @include breakpoint(md) {
      // 80%
      padding-top: 80px;
      padding-bottom: 160px;
    }
    @include breakpoint(xl) {
      padding-top: 100px;
      padding-bottom: 200px;
    }
    h3 {
      font-size: 18px;
      // line-height: 1.5;
      // border-bottom: 1px solid #a45833;
      // display: inline-block;
      letter-spacing: 1px;
      color: $near-black;
      text-transform: uppercase;
      margin-left: 3rem;
      margin-right: 3rem;
      color: $near-black;
      &.header {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
    .grid-column {
      @include grid-media($lg-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
        img {
          width: 60%;
        }
      }
      @include grid-media($xl-grid) {
        @include grid-column(12 of 16);
        @include grid-push(2 of 16);
        img {
          width: 60%;
        }
      }
    }
    .case-study {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      height: 396px;
      @include breakpoint(701px) {
        height: 288px;
      }
      @include breakpoint(md) {
        height: 288px;
      }
      @include breakpoint(xl) {
        height: 360px;
      }
      margin-bottom: 35px;
    }
    .case-study:nth-child(odd) {
      .case-study-image {
        @include breakpoint(300px, 700px) {
          flex-basis: 100%;
          height: 216px;
        }
        @include breakpoint(701px) {
          flex-basis: 60%;
        }
        background-size: cover;
        background-position: center;
      }
      .case-study-info {
        background-color: $near-black;
        @include breakpoint(300px, 700px) {
          flex-basis: 100%;
          height: 180px;
        }
        @include breakpoint(701px) {
          flex-basis: 40%;
        }
        position: relative;
        @include breakpoint(300px) {
          .wrapper {
            position: absolute;
            left: 27px; // 50%
            top: 30px; // 50%
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 0;
          }
          h2 {
            font-size: 28px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
            padding-right: 30px;
          }
          h3 {
            position: absolute;
            bottom: 16px; // 50%
            left: 30px; // 50%
            font-size: 16px;
            // line-height: 1.5;
            padding-bottom: 6px;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
        @include breakpoint(md) {
          .wrapper {
            position: absolute;
            // 80%
            left: 44px;
            top: 49px;
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 7px;
          }
          h2 {
            font-size: 44px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
          }
          h3 {
            position: absolute;
            bottom: 33px;
            left: 48px; // 80%
            font-size: 18px;
            line-height: 1.5;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
        @include breakpoint(xl) {
          .wrapper {
            position: absolute;
            left: 55px;
            top: 61px;
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 7px;
          }
          h2 {
            font-size: 44px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
          }
          h3 {
            position: absolute;
            bottom: 33px;
            left: 60px;
            font-size: 18px;
            line-height: 1.5;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }

    .case-study:nth-child(even) {
      .case-study-image {
        @include breakpoint(300px, 700px) {
          flex-basis: 100%;
          height: 216px;
        }
        @include breakpoint(701px) {
          flex-basis: 60%;
          order: 2;
        }
        // flex-basis: 60%;
        // order: 2;
        background-size: cover;
        background-position: center;
      }
      .case-study-info {
        background-color: $near-black;
        @include breakpoint(300px, 700px) {
          flex-basis: 100%;
          height: 180px;
        }
        @include breakpoint(701px) {
          flex-basis: 40%;
        }
        position: relative;
        @include breakpoint(300px) {
          .wrapper {
            position: absolute;
            left: 27px; // 50%
            top: 30px;  // 50%
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 0;
          }
          h2 {
            font-size: 28px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
            font-size: 28px;
            padding-right: 30px;
          }
          h3 {
            position: absolute;
            bottom: 16px; // 50%
            left: 30px; // 50%
            font-size: 16px;
            line-height: 1.5;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
        @include breakpoint(md) {
          .wrapper {
            position: absolute;
            // 80%
            left: 44px;
            top: 49px;
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 7px;
          }
          h2 {
            font-size: 44px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
          }
          h3 {
            position: absolute;
            bottom: 33px;
            left: 60px;
            font-size: 18px;
            line-height: 1.5;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
        @include breakpoint(xl) {
          .wrapper {
            position: absolute;
            left: 55px;
            top: 61px;
          }
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 7px;
          }
          h2 {
            font-size: 44px;
            line-height: 1.1;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin: 0;
          }
          h3 {
            position: absolute;
            bottom: 33px;
            left: 60px;
            font-size: 18px;
            line-height: 1.5;
            border-bottom: 1px solid $brand;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  section.next {
    height: 250px;
    @include breakpoint(md) {
      // 80%
      height: 400px;
    }
    @include breakpoint(xl) {
      height: 500px;
    }
    background-color: $near-black;
    text-align: center;
    .grid-column {
      @include grid-media($sm-grid) {
        @include grid-column(3 of 8);
        // @include grid-push(1 of 12);
      }
      @include grid-media($lg-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      @include grid-media($xl-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      .color {

        width: 100%;
        height: 18px;
        background-color: #A45833;
        margin-top: -9px;
      }
    }
    .center {
      @include vertical-align;
    }
    a {
      text-decoration: none;
      h5 {
        font-size: 12px;
        letter-spacing: 2px;
        color: #A45833;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: .8em;
      }
      h2 {
        font-size: 44px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

}