.job {
  .headline-block.flow {
    .inner-wrapper {
      margin-bottom: 0px !important;
    }
    .grid-column {
      @include breakpoint(xs) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      @include breakpoint(sm) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @include breakpoint(md) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @include breakpoint(lg) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @include breakpoint(xl) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
  .headline-block.flow.top {
    @include breakpoint(xs) {
      padding-top: 2rem;
    }
    @include breakpoint(sm) {
      padding-top: 54px;
    }
    @include breakpoint(md) {
      padding-top: 54px;
    }
    @include breakpoint(lg) {
      padding-top: 100px;
    }
    @include breakpoint(xl) {
      padding-top: 100px;
    }
  }
  .headline-block.flow.bottom {
    @include breakpoint(xs) {
      padding-bottom: 2rem;
    }
    @include breakpoint(sm) {
      padding-bottom: 54px;
    }
    @include breakpoint(md) {
      padding-bottom: 54px;
    }
    @include breakpoint(lg) {
      padding-bottom: 100px;
    }
    @include breakpoint(xl) {
      padding-bottom: 100px;
    }
  }
}

section.job-application {
  background-color: #f8f7f5;
  @include breakpoint(xs) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include breakpoint(sm) {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  @include breakpoint(md) {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  @include breakpoint(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(8 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(14 of 16);
      @include grid-push(1 of 16);
    }
    @include grid-media($xl-grid) {
      @include grid-column(12 of 16);
      @include grid-push(2 of 16);
    }
  }
  .grid-column--left {
    @include grid-media($sm-grid) {
      @include grid-column(7 of 8);
      @include grid-push(1 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(3 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(4 of 12);
      @include grid-push(1 of 12);
    }
  }
  .grid-column--right {
    @include grid-media($sm-grid) {
      @include grid-column(7 of 8);
      @include grid-push(1 of 8);
    }
    @include grid-media($md-grid) {
      @include grid-column(5 of 8);
    }
    @include grid-media($lg-grid) {
      @include grid-column(6 of 12);
      // @include grid-push(1 of 12);
    }
  }
  .grid-column--left, .grid-column--right {
    h5 {
      font-size: 18px;
      margin-bottom: 1em;
      // text-align: left;
      letter-spacing: 1px;
      color: #202020;
      text-transform: uppercase;
    }
    p {
      font-size: 19px;
      line-height: 27px;
      color: $near-black;
      margin: 0 0 .5em 0;
      font-family: 'Portrait Web';
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      a {
        transition: all 0.3s ease;
        color: #202020;
        text-decoration: none;
        border-bottom: 1px solid $brand;
        &:hover {
          color: $brand;
          border-bottom: 1px solid transparent;
        }
      }
    }

    @include breakpoint(sm) {
      h5 {
        font-size: 18px;
        margin-bottom: 1em;
        // text-align: left;
        letter-spacing: 1px;
        color: #202020;
        text-transform: uppercase;
      }
      p {
        font-size: 19px;
        line-height: 27px;
        color: $near-black;
        margin: 0 0 0 0;
        font-family: 'Portrait Web';
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
      }
    }
    @include breakpoint(md) {
    }
    @include breakpoint(lg) {
    }
  }
}
