.overlay {
  .grid-container, .grid-column {
    height: 100%;
  }
  .grid-column {
    @include grid-media($sm-grid) {
      @include grid-column(12 of 12);
    }
  }
}

@include breakpoint(300px, 567px) {
  /* Overlay style */
  .overlay {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0;
    background: rgba(255,255,255,1);
    .lang {
      position: absolute;
      top: 1rem;
      right: 20px;
      font-size: 15px;
      color: #555;
      a {
        z-index: 9999;
        font-size: 15px;
        text-decoration: none;
        color: #a7a7a7;
        font-weight: 100;
        letter-spacing: 1px;
        display: inline-block;
        padding: 0 .25em;
      }
      a.active {
        color: $brand;
      }
    }
  }

  /* Overlay closing cross */
  .overlay .overlay-close {
    display: none;
    // width: 80px;
    // height: 80px;
    // position: absolute;
    // right: 20px;
    // top: 20px;
    // overflow: hidden;
    // border: none;
    // background: url(../img/cross.png) no-repeat center center;
    // text-indent: 200%;
    // color: transparent;
    // outline: none;
    // z-index: 100;
  }

  /* Menu style */
  .overlay nav {
    text-align: left;
    position: relative;
    top: 20%;
    height: 60%;
    font-size: 36px;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    // height: 100%;
    position: relative;
  }

  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 7);
    min-height: 54px;
  }

  .overlay ul li a {
    font-weight: 300;
    display: block;
    letter-spacing: 1.5px;
    color: #202020;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    text-transform: uppercase;
  }

  .overlay a:hover, .overlay a:active {
    color: #a45833 !important;
  }

  .overlay a:hover, .overlay a:active {
  -webkit-user-select: none;
  -webkit-touch-callout: none /*only to disable context menu on long press*/
  }

  .overlay ul li a:hover,
  .overlay ul li a:focus {
    color: #202020;
  }

  /* Effects */
  .overlay-huge {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .overlay-huge.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .overlay-huge nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
  }

  .overlay-huge nav ul {
    opacity: 0.4;
    // -webkit-transform: translateY(-25%) rotateX(35deg);
    // transform: translateY(-25%) rotateX(35deg);
    // -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    // transition: transform 0.5s, opacity 0.5s;
  }

  .overlay-huge.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  .overlay-huge.close nav ul {
    // -webkit-transform: translateY(25%) rotateX(-35deg);
    // transform: translateY(25%) rotateX(-35deg);
  }
}


@include breakpoint(568px, 736px) {
  /* Overlay style */
  .overlay {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0;
    background: rgba(255,255,255,0.95);
    .lang {
      position: absolute;
      top: 1rem;
      right: 20px;
      font-size: 15px;
      color: #555;
      a {
        z-index: 9999;
        font-size: 15px;
        text-decoration: none;
        color: #a7a7a7;
        font-weight: 100;
        letter-spacing: 1px;
        display: inline-block;
        padding: 0 .25em;
      }
      a.active {
        color: $brand;
      }
    }
  }

  /* Overlay closing cross */
  .overlay .overlay-close {
    display: none;
    // width: 80px;
    // height: 80px;
    // position: absolute;
    // right: 20px;
    // top: 20px;
    // overflow: hidden;
    // border: none;
    // background: url(../img/cross.png) no-repeat center center;
    // text-indent: 200%;
    // color: transparent;
    // outline: none;
    // z-index: 100;
  }

  /* Menu style */
  .overlay nav {
    text-align: left;
    position: relative;
    top: 35vh;
    // height: 60%;
    font-size: 36px;
    padding-bottom: 20vh;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    // height: 100%;
    position: relative;
  }

  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 7);
    min-height: 54px;
  }

  .overlay ul li a {
    font-weight: 300;
    display: block;
    letter-spacing: 1.5px;
    color: #202020;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    text-transform: uppercase;
  }

  .overlay ul li a:hover,
  .overlay ul li a:focus {
    color: #202020;
  }

  /* Effects */
  .overlay-huge {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .overlay-huge.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .overlay-huge nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
  }

  .overlay-huge nav ul {
    opacity: 0.4;
    // -webkit-transform: translateY(-25%) rotateX(35deg);
    // transform: translateY(-25%) rotateX(35deg);
    // -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    // transition: transform 0.5s, opacity 0.5s;
  }

  .overlay-huge.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  .overlay-huge.close nav ul {
    // -webkit-transform: translateY(25%) rotateX(-35deg);
    // transform: translateY(25%) rotateX(-35deg);
  }
}

@include breakpoint(737px, 991px) {
  /* Overlay style */
  .overlay {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0;
    background: rgba(255,255,255,0.95);
    .lang {
      position: absolute;
      top: 1rem;
      right: 20px;
      font-size: 15px;
      color: #555;
      a {
        z-index: 9999;
        font-size: 15px;
        text-decoration: none;
        color: $brand;
        font-weight: 100;
        letter-spacing: 1px;
        display: inline-block;
      }
      a.active {
        color: 700;
      }
    }
  }

  /* Overlay closing cross */
  .overlay .overlay-close {
    display: none;
    // width: 80px;
    // height: 80px;
    // position: absolute;
    // right: 20px;
    // top: 20px;
    // overflow: hidden;
    // border: none;
    // background: url(../img/cross.png) no-repeat center center;
    // text-indent: 200%;
    // color: transparent;
    // outline: none;
    // z-index: 100;
  }

  /* Menu style */
  .overlay nav {
    text-align: left;
    position: relative;
    top: 25vh;
    // height: 60%;
    font-size: 44px;
    padding-bottom: 20vh;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    // height: 100%;
    position: relative;
  }

  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 7);
    min-height: 65px;
  }

  .overlay ul li a {
    font-weight: 300;
    letter-spacing: 1.5px;
    display: block;
    color: #202020;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    text-transform: uppercase;
  }

  .overlay ul li a:hover,
  .overlay ul li a:focus {
    color: #202020;
  }

  /* Effects */
  .overlay-huge {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .overlay-huge.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .overlay-huge nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
  }

  .overlay-huge nav ul {
    opacity: 0.4;
    // -webkit-transform: translateY(-25%) rotateX(35deg);
    // transform: translateY(-25%) rotateX(35deg);
    // -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    // transition: transform 0.5s, opacity 0.5s;
  }

  .overlay-huge.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  .overlay-huge.close nav ul {
    // -webkit-transform: translateY(25%) rotateX(-35deg);
    // transform: translateY(25%) rotateX(-35deg);
  }
}

//   @media screen and (max-height: 30.5em) {
//     .overlay nav {
//       height: 70%;
//       font-size: 34px;
//     }
//     .overlay ul li {
//       min-height: 34px;
//     }
//   }
// }


@include breakpoint(lg) {
  .overlay {
    display: none;
  }
}



