body.portfolio {

  section.casestudies {

    @include breakpoint(lg) {
      .flex-container {
        display: flex;
        align-items: stretch;
      }
      .flex-item-left, .flex-item-right {
        position: relative;
        flex-basis: 50%;
        height: 670px; // .82%
      }
      .flex-item-left {
        background-color: $near-black;
        color: white;
      }
      .flex-item-right {
        flex-basis: 50%;
        background: url('/assets/images/portfolio-cakewalk.jpg');
        background-position: center;
        background-size: cover;
      }
      h3 {
        margin-top: 100px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        color: $text;
        text-transform: uppercase;
      }
      .inner {
        margin-left: 91px;
        margin-top: 79px;
      }
      a {
        text-decoration: none;
        h5 {
          font-size: 12px;
          letter-spacing: 2px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          font-size: 44px;
          line-height: 44px;
          letter-spacing: 1.5px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 56px;
        }
      }
      a.view {
        position: absolute;
        left: 91px;
        bottom: 75px;
        span {
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 2px;
          font-size: 18px;
          line-height: 1.16;
          border-bottom: 1px solid #a45833;
        }
      }
    }

    @include breakpoint(xl) {
      .flex-item-left, .flex-item-right {
        height: 818px;
        .inner {
          margin-left: 91px;
          margin-top: 79px;
        }
        a {
          text-decoration: none;
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          h2 {
            font-size: 44px;
            line-height: 44px;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 56px;
          }
        }
        a.view {
          position: absolute;
          left: 91px;
          bottom: 75px;
          span {
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-size: 18px;
            line-height: 1.16;
            border-bottom: 1px solid #a45833;
          }
        }
      }
    }

  }


}