body.portfolio {

  section.casestudies {
    @include breakpoint(300px, 799px) {
      .flex-container {
        background-color: $near-black;
      }
      .flex-item-left {
        position: relative;
        width: calc(86.6666% - 32px); // to match grid
        margin: 0 auto;
      }
      .inner {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      h3 {
        padding-top: 10px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        color: $text;
        text-transform: uppercase;
      }
      a {
        text-decoration: none;
        h5 {
          font-size: 12px;
          letter-spacing: 2px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          font-size: 36px;
          line-height: 36px;
          letter-spacing: 1.5px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 50px;
        }
      }
      a.view {
        display: none;
      }
      .flex-item-right {
        display: none;
      }
    }

    @include breakpoint(800px) {
      .flex-container {
        display: flex;
        align-items: stretch;
      }
      .flex-item-left, .flex-item-right {
        position: relative;
        flex-basis: 50%;
        height: 540px;
      }
      .flex-item-left {
        background-color: $near-black;
        color: white;
      }
      .flex-item-right {
        flex-basis: 50%;
        background: url('/assets/images/portfolio-cakewalk.jpg');
        background-position: center;
        background-size: cover;
      }
      h3 {
        margin-top: 100px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        color: $text;
        text-transform: uppercase;
      }
      .inner {
        margin-left: 35px;
        margin-top: 55px;
      }
      a {
        text-decoration: none;
        h5 {
          font-size: 12px;
          letter-spacing: 2px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          font-size: 36px;
          line-height: 36px;
          letter-spacing: 1.5px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
      a.view {
        position: absolute;
        left: 35px;
        bottom: 35px;
        span {
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 2px;
          font-size: 18px;
          line-height: 1.16;
          border-bottom: 1px solid #a45833;
        }
      }
    }

    @include breakpoint(lg) {
      .flex-item-left, .flex-item-right {
        height: 676px;
      }
      .inner {
        margin-left: 91px;
        margin-top: 79px;
      }
      a {
        text-decoration: none;
        h5 {
          font-size: 12px;
          letter-spacing: 2px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h2 {
          font-size: 44px;
          line-height: 44px;
          letter-spacing: 1.5px;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 56px;
        }
      }
      a.view {
        position: absolute;
        left: 91px;
        bottom: 75px;
        span {
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 2px;
          font-size: 18px;
          line-height: 1.16;
          border-bottom: 1px solid #a45833;
        }
      }
    }

    @include breakpoint(xl) {
      .flex-item-left, .flex-item-right {
        height: 818px;
        .inner {
          margin-left: 91px;
          margin-top: 79px;
        }
        a {
          text-decoration: none;
          h5 {
            font-size: 12px;
            letter-spacing: 2px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          h2 {
            font-size: 44px;
            line-height: 44px;
            letter-spacing: 1.5px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 56px;
          }
        }
        a.view {
          position: absolute;
          left: 91px;
          bottom: 75px;
          span {
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-size: 18px;
            line-height: 1.16;
            border-bottom: 1px solid #a45833;
          }
        }
      }
    }
  }

  section.gallery {
    margin-bottom: 200px;
    .grid-container {
      @include grid-container;
    }
    .grid-column {
      @include grid-media($mobile-grid) {
        @include grid-column(8 of 8);
      }
      @include grid-media($mid-grid) {
        @include grid-column(14 of 16);
        @include grid-push(1 of 16);
      }
    }
    h3 {
      margin-top: 100px;
      font-size: 18px;
      margin-bottom: .7em;
      text-align: center;
      letter-spacing: 1px;
      color: $text;
      text-transform: uppercase;
    }
    .tabs {
      text-align: center;
      margin-bottom: 55px;
      a {
        font-size: 12px;
        color: $text;
        display: inline-block;
        border-bottom: 2px solid transparent;
        margin-left: 50px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:first-of-type {
          margin-left: 0px;
        }
        &.active {
          border-bottom: 2px solid $brand;
        }
      }
    }
    .gutter-sizer {
      width: 2%;
    }
    .grid-sizer, .grid-item {
      width: 31%;
    }
    .grid-item {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }

  }

  section.next {
    height: 250px;
    @include breakpoint(md) {
      // 80%
      height: 400px;
    }
    @include breakpoint(xl) {
      height: 500px;
    }
    background-color: $near-black;
    text-align: center;
    .grid-column {
      @include grid-media($mobile-grid) {
        @include grid-column(3 of 8);
        // @include grid-push(1 of 12);
      }
      @include grid-media($mid-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      @include grid-media($desktop-grid) {
        @include grid-column(2 of 16);
        @include grid-push(1 of 16);
      }
      .color {

        width: 100%;
        height: 18px;
        background-color: #A45833;
        margin-top: -9px;
      }
    }
    .center {
      @include vertical-align;
    }
    a {
      text-decoration: none;
      h5 {
        font-size: 12px;
        letter-spacing: 2px;
        color: #A45833;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: .8em;
      }
      h2 {
        font-size: 44px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

}