---

---
<section class="hero">
  <div class="grid-container fluid">
      <div class="grid-column">
        <div class="hero-image animated fastStaggerFadeIn rellax" data-rellax-speed="-3"></div>
      </div>
  </div>
</section>

<section class="headline-block pull">
  <div class="outer grid-container">
      <div class="grid-column animated customFadeInUp">
        <div class="grid-collapse">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">Fueled by Passion</h2>
          </div>
          <div class="grid-column--copy">
            <p class="copy-text">Merritt is the artist’s atelier. We are innovators. We plan with precision, craft with care and build boldly knowing that our work lives on for generations of tomorrow. We only work with the finest designers, builders and craftsmen, and deliver woodwork that is unparalleled in our industry.</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="offset-images">
  <div class="grid-container">
    <div class="grid-column">
      <div class="left rellax animated staggerFadeIn" data-rellax-speed="-.5"><img src="/uploads/about-1.jpg" alt=""></div>
      <div class="right rellax animated staggerFadeIn" data-rellax-speed=".75"><img src="/uploads/about-2.jpg" alt=""></div>
    </div>
  </div>
</section>

<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">Only the extraordinary is acceptable for the world&rsquo;s finest estates and superyachts.</h1>
      </div>
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
      <div class="grid-column">
        <div class="grid-collapse">
        <div class="grid-column--headline">
          <h2 class="header-text-condensed">Timeless Craftsmanship, tomorrow&rsquo;s technology</h2>
        </div>
        <div class="grid-column--copy">
          <p class="copy-text">Merritt is changing the definition of woodwork and joinery from the inside out. By constantly innovating, we stay steps ahead of both our competition and our clients to ensure that the future of our craft will be brighter, stronger and more powerful than ever before. </p>
          <p class="copy-text">
          As a family run company, Merritt is led by strong ideals that have remained at our core for fifty years. We believe in solid partnerships with our clients. We never miss a detail, a delivery or a deadline. We employ both cutting edge technology and age old techniques in cultivating our craft. Our approach is uncompromising and the result is the perfect alignment of beauty and precision.</p>
        </div>
      </div>
      </div>
  </div>
</section>

<section class="single-image-block">
  <div class="grid-container fluid">
    <!-- <div class="grid-collapse"> -->
      <div class="grid-column">
        <img src="/uploads/about-3.jpg" alt="">
      </div>
    <!-- </div> -->
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
      <div class="grid-column">
        <div class="grid-collapse">
        <div class="grid-column--headline">
          <h2 class="header-text-condensed">A legacy of art and vision</h2>
        </div>
        <div class="grid-column--copy">
          <p class="copy-text">As a young man, George A. Merritt honed his craft as an artisan woodworker in his hometown of Cleveland, Ohio. In 1967 he founded Merritt Woodwork where he went on to mentor his own team of apprentices. By building a reputation for perfectionism and artistry, Merritt honed a niche delivering the highest-quality cabinetry and woodwork in the region. Today, sons Michael and Keith continue their father’s legacy of extraordinary craftsmanship, premium materials and hands-on management but have also grown the company in unexpected directions with exceptional results.</p>
        </div>
      </div>
      </div>
  </div>
</section>

<section class="offset-images bottom">
  <div class="grid-container">
    <div class="grid-column">
      <div class="left rellax" data-rellax-speed="-.5">
        <img src="/uploads/about-1.jpg" alt="">
        <p class="header-text">George A. Merritt, Founder</p>
      </div>
      <div class="right rellax" data-rellax-speed=".75">
        <img src="/uploads/about-2.jpg" alt="">
        <p class="header-text">Keith & Michael Merritt</p>
        </div>
    </div>
  </div>
</section>

<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">Through constant innovation and an obsession with perfection, Merritt moves the definition of woodwork forward.</h1>
      </div>
  </div>
</section>

<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <h3 class="header-text-condensed">leadership team</h3>
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% assign people = site.staff | sort:"display_order" %}
        {% for person in people %}
        <div class="grid-item">
          <div data-aos="fade-up">
            <a data-remodal-target="modal-{{person.name | slugify}}">
              <img src="{{person.image}}" alt="">
            </a>
            <div class="name">
              <h3 class="header-text-condensed staff-name">{{person.name}}</h3>
              <p class="staff-title header-text">{{person.title}}</p>
              <a data-remodal-target="modal" class="staff-bio header-text">read bio</a>
            </div>
          </div>
        </div>
        <div class="remodal" data-remodal-id="modal-{{person.name | slugify}}">
          <button data-remodal-action="close" class="remodal-close c-hamburger c-hamburger--htx is-active" aria-label="Close">
            <span>toggle</span>
          </button>
          <div data-remodal-action="close">
            <h2 class="header-text-condensed">{{person.name}}</h2>
            <h5 class="header-text">{{person.title}}</h5>
            {% if person.quote %}
              <p class="copy-text quote">&ldquo;{{person.quote}}&rdquo;</p>
            {% endif %}
            <div class="copy-text">{{person.details | markdownify}}</div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="/clients">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">clients</h2></span>
      </a>
    </div>
  </div>
</section>