---
hero_image: /uploads/hero-about.jpg
intro_block:
  headline: LEIDENSCHAFT IST UNSER ANTRIEB
  details: |
    Merritt steht für Perfektionismus. Wir sind Vorreiter. Wir planen präzise, gehen die Ausführung sorgfältig und mit der Gewissheit an, dass unsere Arbeit Generationen überdauert. Wir arbeiten bei unseren unübertroffenen Holzarbeiten nur mit den besten Designern, Bauunternehmen und Handwerkern zusammen.
image_pair_a:
  left_image: /uploads/about-1.jpg
  left_image_caption:
  right_image: /uploads/about-2.jpg
  right_image_caption:
text_block_a: Für außergewöhnliche Häuser und Superjachten ist nur das Beste gut genug.
headline_block_a:
  headline: ZEITLOSES HANDWERK, MODERNSTE TECHNOLOGIE
  details: |
    Merritt revolutioniert den Möbel- und Innenausbau von innen heraus. Als familiengeführtes Unternehmen setzt Merritt seit fünfzig Jahren auf starke Ideale.
image_block:
  image: /uploads/about-3.jpg
headline_block_b:
  headline: EINE UNTERNEHMENS-GESCHICHTE GEPRÄGT VON KUNSTFERTIGKEIT UND WEITSICHT
  details: |
    George A. Merritt war bereits in jungen Jahren in seiner Heimatstadt Cleveland (Ohio) als Kunstschreiner tätig. 1967 gründete er das Unternehmen Merritt Woodwork und bildete dort auch neue Mitarbeiter aus. George A. Merritt hat sich einen Ruf als Perfektionist und Künstler erarbeitet, dank dem er sich mit Kunstschreiner- und Holzbauarbeiten von höchster Qualität in der Region etablieren konnte.

    Heute führen seine beiden Söhne Michael und Keith Merritt das Unternehmen. Sie setzen weiterhin auf herausragende Handwerkskunst, hochwertige Materialien und aktives Management. Das Unternehmen hat sich unter ihrer Leitung erfolgreich auch neuen Branchen geöffnet.
image_pair_b:
  left_image: /uploads/founder.jpg
  left_image_caption: George A. Merritt, GRÜNDER
  right_image: /uploads/leadership.jpg
  right_image_caption: Keith & Michael Merritt
text_block_b: Durch stetige Innovation und eine Leidenschaft für Perfektion setzt Merritt neue Maßstäbe in der Branche.
next:
  name: kunden
  link: /clients/
title: INFORMATIONEN
description: ZEITGEMÄSSE UND MASSGEFERTIGTE HOLZ- UND SCHREINERARBEITEN.
_comments:
  hero_image: file should be ~2000px wide
  left_image: file should be ~800px wide
  right_image: file should be ~800px wide
  image: file should be ~2000px wide
  next: the'next' link
  name: the text of the 'next' link
  link: where the 'next' link takes you
  title: for meta property='og:title'
  description: (optional) for meta property='og:description'
lang: de
---
<section class="hero">
  <div class="grid-container fluid">
      <div class="grid-column">
        <div class="hero-image animated fastStaggerFadeIn rellax" data-rellax-speed="-3">
          <img
            class="js-img"
            ix-path="{{page.hero_image}}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 1200px) 1166px, (min-width: 1440px) 1440px, 85vw"
            data-rellax-speed="-2.5"
          >
        </div>
      </div>
  </div>
</section>

<section class="headline-block pull">
  <div class="outer grid-container">
      <div class="grid-column animated customFadeInUp">
        <div class="grid-collapse">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">{{page.intro_block.headline}}</h2>
          </div>
          <div class="grid-column--copy">
            <p class="copy-text">{{ page.intro_block.details }}</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="offset-images">
  <div class="grid-container">
    <div class="grid-column">

        <div class="left animated staggerFadeIn">
         <img
            ix-path="{{page.image_pair_a.left_image}}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 768px) 40vw, 90vw"
          >
          {% if page.image_pair_a.left_image_caption %}<p class="header-text">{{page.image_pair_a.left_image_caption}}</p>{% endif %}
        </div>

        <div class="right animated staggerFadeIn">
          <img
            ix-path="{{page.image_pair_a.right_image}}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 768px) 40vw, 90vw"
          >
          {% if page.image_pair_a.right_image_caption %}<p class="header-text">{{page.image_pair_a.right_image_caption}}</p>{% endif %}
        </div>

    </div>
  </div>
</section>

<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">{{page.text_block_a}}</h1>
      </div>
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
      <div class="grid-column">
        <div class="grid-collapse">
        <div class="grid-column--headline">
          <h2 class="header-text-condensed">{{page.headline_block_a.headline}}</h2>
        </div>
        <div class="grid-column--copy copy-text">
          {{page.headline_block_a.details | markdownify}}
        </div>
      </div>
      </div>
  </div>
</section>

<section class="single-image-block">
  <div class="grid-container fluid">
    <!-- <div class="grid-collapse"> -->
      <div class="grid-column">
      <img
          ix-path="{{page.image_block.image}}"
          ix-params='{
            "auto": "compress"
          }'
          sizes="(min-width: 1200px) 1018px, (min-width: 1440px) 1228px, 85vw"
        >
      </div>
    <!-- </div> -->
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
      <div class="grid-column">
        <div class="grid-collapse">
        <div class="grid-column--headline">
          <h2 class="header-text-condensed">{{page.headline_block_b.headline}}</h2>
        </div>
        <div class="grid-column--copy copy-text">
          <p class="copy-text">{{page.headline_block_b.details | markdownify}}</p>
        </div>
      </div>
      </div>
  </div>
</section>

<section class="offset-images bottom">
  <div class="grid-container">
    <div class="grid-column">
      <div class="left animated staggerFadeIn">
        <img
           ix-path="{{page.image_pair_b.left_image}}"
           ix-params='{
             "auto": "compress"
           }'
           sizes="(min-width: 768px) 40vw, 90vw"
         >
        {% if page.image_pair_b.left_image_caption %}<p class="header-text">{{page.image_pair_b.left_image_caption}}</p>{% endif %}
        </div>
      <div class="right animated staggerFadeIn">
        <img
           ix-path="{{page.image_pair_b.right_image}}"
           ix-params='{
             "auto": "compress"
           }'
           sizes="(min-width: 768px) 40vw, 90vw"
         >
        {% if page.image_pair_b.right_image_caption %}<p class="header-text">{{page.image_pair_b.right_image_caption}}</p>{% endif %}
        </div>
    </div>
  </div>
</section>

<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">{{page.text_block_b}}</h1>
      </div>
  </div>
</section>

<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <h3 class="header-text-condensed">FÜHRUNGSTEAM</h3>
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% assign people = site.staff | sort:"display_number" %}
        {% for person in people %}
        <div class="grid-item">
                                      {% comment %}
                                        {% unless jekyll.environment == 'production' %}data-aos="fade-up"{% endunless %}
                                      {% endcomment %}
          <div>
            <a data-remodal-target="modal-{{person.name | slugify}}">
              <img
                 ix-path="{{person.image}}"
                 ix-params='{
                   "auto": "compress"
                 }'
                 sizes="(max-width: 799px) 50vw, (max-width: 991px) 30vw, (min-width: 992px) 214px, (min-width: 1200px) 261px, (min-width: 1440px) 315px, 90vw"
               >
            </a>
            <div class="name">
              <h3 class="header-text-condensed staff-name">{{person.name}}</h3>
              <p class="staff-title header-text">{{person.title}}</p>
              <a data-remodal-target="modal-{{person.name | slugify}}" class="staff-bio header-text">BIOGRAFIE LESEN</a>
            </div>
          </div>
        </div>
        <div class="remodal" data-remodal-id="modal-{{person.name | slugify}}">
          <button data-remodal-action="close" class="remodal-close c-hamburger c-hamburger--htx is-active" aria-label="Close">
            <span>toggle</span>
          </button>
          <div data-remodal-action="close">
            <h2 class="header-text-condensed">{{person.name}}</h2>
            <h5 class="header-text">{{person.title}}</h5>
            {% if person.quote %}
              <p class="copy-text quote">&bdquo;{{person.quote}}&ldquo;</p>
            {% endif %}
            <div class="copy-text">{{person.details | markdownify}}</div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">weiter</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>