---
title: Stellenangebote
description: ZEITGEMÄSSE UND MASSGEFERTIGTE HOLZ- UND SCHREINERARBEITEN.
lang: de
---

{% assign translation = site.german | where:'_source','careers' %}
{% for page in translation %}

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">{{page.headline}} </h1>
        </div>
      <!-- </div> -->
    </div>
    <div id="tab" style="visibility: hidden;"></div>
  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div id="" class="color"></div>
  </div>
</div>


<section id="" class="gallery-tabs">
  <div class="full-grid-container">
    <div class="grid-column">
      <h3 class="header-text-condensed"><a class="active" href="/careers/#tab">ARBEITEN BEI MERRITT</a></h3>
      {% if site.jobs.size > 0 %}
      <h3 class="header-text-condensed"><a href="/careers/jobs#tab">STELLEN</a></h3>
      {% endif %}
      {% if site.intenships.size > 0 %}
      <h3 class="header-text-condensed"><a href="/careers/internships#tab">PRAKTIKA</a></h3>
      {% endif %}
    </div>
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
    <div class="grid-column">
      <div class="grid-collapse">
        {% for section in page.sections %}
        <div class="inner-wrapper">
          <div class="grid-column--headline" data-aos="fade-up">
            <h2 class="header-text-condensed">{{section.headline}}</h2>
          </div>
          <div class="grid-column--copy" data-aos="fade-up">
            {{section.details | markdownify}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% if page.audio %}
<section class="audio-block">
  <div class="grid-container">
    {% if page.audio_title %}<h3 class="header header-text-condensed" data-aos="fade-up">{{page.audio_title}}</h3>{% endif %}
    <audio src="{{page.audio}}" controls></audio>
  </div>
</section>
{% endif %}

<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">{{page.quote}}</h1>
      </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next_link.link}}">
        <h5 class="header-text">weiter</h5>
        <span><h2 class="header-text-condensed">{{page.next_link.name}}</h2></span>
      </a>
    </div>
  </div>
</section>
{% endfor %}
