---
title: Clients
description:
headline: 'WHEN PERFECTION IS THE ONLY OPTION, THE MOST EXACTING AND ACCLAIMED ARCHITECTS, DESIGNERS, BUILDERS AND OWNERS CALL UPON MERRITT.'
next:
  name: press
  link: /press/
_comments:
  next: the'next' link
  name: the text of the 'next' link
  link: where the 'next' link takes you
  title: for meta property='og:title'
  description: for meta property='og:description'
---

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">{{ page.headline }}</h1>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div class="color"></div>
  </div>
</div>

<section class="client-list ">
  <div class="grid-container">
    <div class="label-column">
      <h3 class="header-text-condensed">architects</h3>
    </div>
    {% assign architects = site.data.clients | where:"type","architect" %}
    <div class="list-column">
      <div class="grid-collapse">
        <div class="inner-grid">
          <div class="grid-collapse">
            {% for item in architects %}
            <div class="inner-grid-column">
              <p class="copy-text">{{ item.name }}</p>
            </div>
            {% endfor %}
          <div class="grid-collapse">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-list ">
  <div class="grid-container">
    <div class="label-column">
      <h3 class="header-text-condensed">interior designers</h3>
    </div>
    {% assign designers = site.data.clients | where:"type","interior designer" %}
    <div class="list-column">
      <div class="grid-collapse">
        <div class="inner-grid">
          <div class="grid-collapse">
            {% for item in designers %}
            <div class="inner-grid-column">
              <p class="copy-text">{{ item.name }}</p>
            </div>
            {% endfor %}
          <div class="grid-collapse">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-list ">
  <div class="grid-container">
    <div class="label-column">
      <h3 class="header-text-condensed">builders &amp; shipyards</h3>
    </div>
    {% assign builders = site.data.clients | where:"type","builder" %}
    <div class="list-column">
      <div class="grid-collapse">
        <div class="inner-grid">
          <div class="grid-collapse">
            {% for item in builders %}
            <div class="inner-grid-column">
              <p class="copy-text">{{ item.name }}</p>
            </div>
            {% endfor %}
          <div class="grid-collapse">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-list ">
  <div class="grid-container">
    <div class="label-column">
      <h3 class="header-text-condensed">owner representatives</h3>
    </div>
    {% assign owners = site.data.clients | where:"type","owner rep" %}
    <div class="list-column">
      <div class="grid-collapse">
        <div class="inner-grid">
          <div class="grid-collapse">
            {% for item in owners %}
            <div class="inner-grid-column">
              <p class="copy-text">{{ item.name }}</p>
            </div>
            {% endfor %}
          <div class="grid-collapse">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>