---
headline: "IF YOU'RE READY TO EXPERIENCE TRUE LUXURY woodwork AND JOINERY, WE'RE READY TO BRING YOUR DREAMS TO LIFE."
next:
  name: careers
  link: /careers/
title: Contact Us
description: 'To learn more information about Merritt, contact us at one of our global offices.'
_comments:
  next: "the'next' link"
  name: "the text of the 'next' link"
  link: "where the 'next' link takes you"
  title: "for meta property='og:title'"
  description: "(optional) for meta property='og:description'"
lang: en
---

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">{{page.headline}}</h1>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div class="color"></div>
  </div>
</div>

<section class="contact-details">
  <div class="grid-container">
    {% for contact in site.data.contacts %}
      <div class="grid-column">
        <h3 class="header-text-condensed">{{contact.headline}}</h3>
        {% if contact.name %}<p class="copy-text">{{contact.name}}</p>{% endif %}
        {% if contact.title %}<p class="copy-text">{{contact.title}}</p>{% endif %}
        {% if contact.telephone %}<p class="copy-text phone">{{contact.telephone}}</p>{% endif %}
        <p class="copy-text"><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
      </div>
    {% endfor %}
  </div>
</section>

<section class="case-studies">
  <h3 class="header header-text-condensed" data-aos="fade-up">locations</h3>
  <div class="grid-container">
    <div class="grid-column">
      {% assign locations = site.data.locations | sort: 'order' %}
      {% for location in locations %}
        <div class="case-study" data-aos="fade-up">
          <div class="case-study-image" style="background-image: url({{location.image}});">
            <img
              class="js-img"
              ix-path="{{location.image}}"
              ix-params='{
                "auto": "compress"
              }'
              sizes="(max-width: 700px) 100vw, 40vw"
            >
            <a href="{{location.link}}" target="_blank"></a>
          </div>
          <div class="case-study-info">
            <div class="wrapper">
              <h2 class="header-text-condensed">{{location.name}}</h2>
              <h5 class="header-text title">{{location.address_1}}</h5>
              <h5 class="header-text address-1">{{location.address_2}}</h5>
              <h5 class="header-text address-2">{{location.city}}{% if location.state %}, {% endif %}{{location.state}} {{location.zip | replace: "'",""}}</h5>
              <h5 class="header-text phone">{{location.telephone}}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>
