---
title: Home
description: Merritt welcomes you to the next century of woodwork and joinery design.
headline: woodwork and JOINERY FOR THE MODERN AGE.
header_image: /uploads/aspen-park.jpg
video:
  - name: The Future is Now
    youtube_id: d1D-DHWxWgc
  - name: 50 Years of Excellence
    youtube_id: FimwBmBzcy0
text_block: >-
  Innovation is in our DNA. Leading the entire woodwork and joinery industry
  from the front line is our mission. Delivering unparalleled interiors today,
  and in the future, is our vision.
next:
  name: portfolio
  link: /portfolio/
_comments:
  title: 'for meta property=''og:title'''
  description: '(optional) for meta property=''og:description'''
  video: set the video source and text
  header_image: background image of the header
  next: the 'next' link
  name: the text of the 'next' link
  link: where the 'next' link takes you
lang: en
---

<section class="header-video">
  <div class="wrapper">
      <img
        class="header-video__media"
        ix-path="{{page.header_image}}"
        ix-params='{
          "auto": "compress"
        }'
        sizes="85vw"
      >
      <div class="header-video__close-trigger header-text-condensed" id="header-video__close-trigger">stop</div>
      <div class="grid-container">
        <!-- <div class="grid-collapse"> -->
          <div class="headline header-text-condensed">
            <p class="animated customFadeInUp">{{page.headline}}</p>
            <div class="header-video__links">
            {% for video in page.video %}
              <a
                href="https://www.youtube.com/embed/{{video.youtube_id}}"
                class="header-video__play-trigger"
                data-video-width="560"
                data-video-height="315"
                data-video-start=""
                target="_blank"
                rel="nofollow noopener">
                <span>{{video.name}}</span>
              </a>
            {% endfor %}
            </div>
          </div>
        <!-- </div> -->
      </div>
  </div>
</section>

<section class="intro">
  <div class="grid-container">
    <!-- <div class="grid-collapse"> -->
      <div class="grid-column">
        <h1 class="copy-text">{{page.text_block}}</h1>
        <h3 class="header-text-condensed animated fadeIn"><a href="/portfolio">Portfolio</a></h3>
        <h3 class="header-text-condensed animated fadeIn"><a href="/capabilities">Capabilities</a></h3>
      </div>
    <!-- </div> -->
  </div>
</section>




<section class="case-studies">
  <h3 class="header header-text-condensed" data-aos="fade-up">Case Studies</h3>
  <div class="grid-container">
    <div class="grid-column">
      {% assign casestudies = site.case_studies | where:'draft','false' | sort:"list_order" %}
      {% for case in casestudies %}
        <div class="case-study" data-aos="fade-up">
          <div class="case-study-image">
            <img
              class="js-img"
              ix-path="{{case.hero_image}}"
              ix-params='{
                "auto": "compress"
              }'
              sizes="(max-width: 700px) 100vw, 40vw"
            >
          </div>
          <div class="case-study-info">
            <div class="wrapper">
              <h5 class="header-text">{{case.work-type}}</h5>
              <h2 class="header-text-condensed">{{case.title}}</h2>
            </div>
            <h3 class="header-text-condensed"><a href="{{case.url}}">view case study</a></h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="next">
  <div class="grid-container">
    <!-- <div class="grid-collapse"> -->
      <div class="grid-column">
        <div class="color"></div>
      </div>
    <!-- </div> -->
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>
