---
headline: 'MERRITT IS FAST-PACED, INNOVATIVE AND CHANGING THE LUXURY woodwork AND JOINERY INDUSTRY FROM THE INSIDE OUT.'

next:
  name: contact
  link: /contact/
title: Jobs
description: Job opportunities at Merritt Woodwork
_comments:
  next: "the'next' link"
  name: "the text of the 'next' link"
  link: "where the 'next' link takes you"
  title: "for meta property='og:title'"
  description: "(optional) for meta property='og:description'"
lang: en
---

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">{{page.headline}}</h1>
        </div>
      <!-- </div> -->
    </div>
    <div id="tab" style="visibility: hidden;"></div>

  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div id="" class="color"></div>
  </div>
</div>


<section id="" class="gallery-tabs">
  <div class="full-grid-container">
    <div class="grid-column">
      <h3 class="header-text-condensed"><a href="/careers#tab">working at merritt</a></h3>
      <h3 class="header-text-condensed"><a href="/careers/jobs#tab">jobs</a></h3>
      <h3 class="header-text-condensed"><a class="active" href="/careers/internships#tab">internships</a></h3>
      <div class="header-text tabs">
        <div class="mobile-wrapper">
          <a href="" class="isoFilter active" data-filter="*">all</a>
        </div>
        {% for location in site.data.locations %}
        <div class="mobile-wrapper">
          <a href="" class="isoFilter" data-filter=".{{location.name}}">{{location.name}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="headline-block flow">
  <div class="outer grid-container">
    <div class="grid-column">
      <div class="grid-collapse">
        <div class="inner-wrapper">
          <div class="grid-column--headline">
            <h2 class="header-text-condensed">{{page.culture_block.headline}}</h2>
          </div>
          <div class="grid-column--copy">
            {{page.culture_block.details | markdownify}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <div class="grid">

        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        {% for job in site.internships %}
        <div class="grid-item {{job.job-location}}">
          <div class="job-title">
            <h2 class="header-text-condensed">{{job.role}}</h2>
          </div>
          <div class="job-info">
            <p class="copy-text">Type: {{job.job-type | capitalize}}</p>
            {% if job.job.contract %}<p class="copy-text">Contract: {{job.contract | capitalize}}</p>{% endif %}
            <p class="copy-text">Location: {{job.job-location | capitalize}}</p>
            <h3 class="header-text-condensed"><a href="{{job.url}}">more info</a></h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>



<section class="text-block">
  <div class="grid-container">
      <div class="grid-column">
        <h1 class="copy-text">If you dare go against the grain, you may be one of us.</h1>
      </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>