---
next:
  name: capabilities
  link: /capabilities/
title: Portfolio
description: "Explore Merritt's portfolio and project gallery that includes Superyachts, Contemporary Residences, Transitional Residences, and Traditional Residences."
_comments:
  next: "the'next' link"
  name: "the text of the 'next' link"
  link: "where the 'next' link takes you"
  title: "for meta property='og:title'"
  description: "(optional) for meta property='og:description'"
lang: en
---


<section class="casestudies">
  <h3 class="header-text-condensed">case studies</h3>
  <div class="casestudies__container">
    <div class="left"></div>
    {% assign casestudies = site.case_studies | where:'draft','false' | sort:"list_order" %}
    {% assign first_case_study = casestudies | first %}
    <div id="images" class="right" style="background: url({{first_case_study.portfolio_image}}); background-position:center; background-size:cover;"></div>

    <div class="grid-container">
        <div class="grid-column">
          <div class="inner animated customFadeInUp">
            {% for item in casestudies %}
              <div>
                <a href="{{item.url}}" class="casestudy" data-img="{{item.portfolio_image}}">
                  <h5 class="header-text">{{item.work-type}}</h5>
                  <h2 class="header-text-condensed">{{item.title}}</h2>
                </a>
              </div>

            {% endfor %}

        </div>
        <a data-scroll href="#gallery" class="view header-text-condensed" id="header-video__play-trigger"><span>view gallery</span></a>
    </div>
  </div>
</section>

<section id="gallery" class="gallery-tabs">
  <div class="full-grid-container">
    <div class="grid-column">
      <h3 class="header-text-condensed">gallery</h3>
      <div class="header-text tabs">
        <div class="mobile-wrapper">
          <a href="" class="isoFilter active" data-filter="*">all</a>
        </div>
        <div class="mobile-wrapper">
          <a href="" class="isoFilter" data-filter=".superyacht">superyachts</a>
        </div>
        <div class="mobile-wrapper">
          <a href="" class="isoFilter" data-filter=".contemporary">contemporary residences</a>
        </div>
        <div class="mobile-wrapper">
          <a href="" class="isoFilter" data-filter=".transitional">transitional residences</a>
        </div>
        <div class="mobile-wrapper">
          <a href="" class="isoFilter" data-filter=".traditional">traditional residences</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% assign gallery_items = site.portfolio | sort:"title" %}
        {% for item in gallery_items %}
                                    {% comment %}
                                      data-aos="fade-up"
                                    {% endcomment %}
          <div class="grid-item {{item.work-type}}">
            <a data-remodal-target="modal-{{item.image}}">
              <img
                ix-path="{{item.image}}"
                ix-params='{
                  "auto": "compress"
                }'
                sizes="(min-width: 800px) 20vw, 30vw"

              >
            </a>
          </div>
          <div class="remodal" data-remodal-id="modal-{{item.image}}">
            <img src="{{item.image}}" data-remodal-action="close" class="remodal-close">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>
