---
title: Press
description: Merritt's exemplary work is featured in a variety of publications.
headline: Front page exposure.
video:
  title: 'Michael Merritt, CEO | EY Entrepreneur Of The Year 2017 Finalist'
  youtube_id: jpAFn82GvoU
next:
  name: Careers
  link: /careers/
_comments:
  title: 'for meta property=''og:title'''
  description: '(optional) for meta property=''og:description'''
  image: file should be 500px wide
  next: the'next' link
  name: the text of the 'next' link
  link: where the 'next' link takes you
  pdf_path: to link to a pdf
  press_link: to link to an external url
lang: en
---

<section class="jumbo-hero">
  <div class="wrapper">
    <div class="grid-container">
      <!-- <div class="grid-collapse"> -->
        <div class="headline header-text-condensed">
          <h1 class="animated customFadeInUp">{{page.headline}}</h1>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<div class="jumbo-hero-color grid-container">
  <div class="grid-column">
    <div class="color"></div>
  </div>
</div>


<section class="gallery">
  <div class="grid-container">
    <div class="grid-column">
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% assign press = site.press | sort:"press_date" | reverse %}
        {% for item in press %}
        {% assign link = item.press_link %}
        {% if item.pdf_path %}
          {% assign link = item.pdf_path %}
        {% endif %}
        {% assign link_title = "Link" %}
        {% if item.pdf_path %}
          {% assign link_title = "PDF" %}
        {% endif %}
        {% assign title = item.title %}
        {% if item.press_title %}
          {% assign title = item.press_title %}
        {% endif %}

        <div class="grid-item">
          {% if link %}
            <a class="grid-item__wrap" target="_blank" href="{{link}}" {% if link == item.press_link %}rel="nofollow noopener"{% endif %}>
              <div class="grid-item__inner">
                <!--<img
                  ix-path="{{item.press_image}}"
                  ix-params='{
                    "auto": "compress"
                  }'
                  sizes="(max-width: 779px) 50vw, (max-width: 991px) 22vw, (min-width: 992px) 183px, (min-width: 1200px) 224px, (min-width: 1440px) 270px, 45vw"
                >
                -->
                <img src="{{item.press_image}}" alt="{{title}}" />
                <h5 class="header-text-condensed press-title">{{title}}</h5>
                <span class="header-text press-date">{{ item.press_date | date: "%b %e, %Y" }}</span>
                <span class="header-text press-link">{{link_title}}</span>
              </div>
            </a>
          {% else %}
            <div class="grid-item__wrap">
              <div class="grid-item__inner">
                <img
                  ix-path="{{item.press_image}}"
                  ix-params='{
                    "auto": "compress"
                  }'
                  sizes="(max-width: 779px) 50vw, (max-width: 991px) 22vw, (min-width: 992px) 183px, (min-width: 1200px) 224px, (min-width: 1440px) 270px, 45vw"
                >
                <h5 class="header-text-condensed press-title">{{title}}</h5>
                <span class="header-text press-date">{{ item.press_date | date: "%b %e, %Y" }}</span>
                <span class="header-text press-link empty"></span>
              </div>
            </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% if page.video.youtube_id %}
<section class="video-block">
  <div class="grid-container">
    {% if page.video.title %}<h3 class="header header-text-condensed">{{page.video.title}}</h3>{% endif %}
    <div class="plyr__video-embed">
      <iframe
        src="https://www.youtube.com/embed/{{page.video.youtube_id}}?origin=https://www.merrittwoodwork.com&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
    </div>
  </div>
</section>
{% endif %}

<section class="contact-details">
  <div class="grid-container">
    <div class="grid-column">
      {% for item in site.data.contacts %}
        {% if item.type == "media" %}
          <h3 class="header-text-condensed">{{item.headline}}</h3>
          <p class="copy-text">{{item.name}}</p>
          <p class="copy-text phone">{{item.telephone}}</p>
          <p class="copy-text"><a href="mailto:{{item.email}}">{{item.email}}</a></p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>



<section class="next">
  <div class="grid-container">
    <div class="grid-column">
      <div class="color"></div>
    </div>
  </div>
  <div class="center">
    <div class="link-wrapper">
      <a href="{{page.next.link}}">
        <h5 class="header-text">next</h5>
        <span><h2 class="header-text-condensed">{{page.next.name}}</h2></span>
      </a>
    </div>
  </div>
</section>
