@charset "UTF-8";

$neat-grid: () !default;
$neat-custom-grid: () !default;

$mobile-grid: (
  columns: 8,
  gutter: 16px,
  media: 300px,
  direction: ltr,
);

$desktop-grid: (
  columns: 16,
  gutter: 17px,
  media: 992px,
  direction: ltr,
);


/// If you need multiple grids in a single project, you can do
/// this by defining a new map stored within a variable of your choosing. This
/// variable can then be passed directly in to any of Neat's mixins like
/// [`grid-column(12, $my-custom-grid)`](#grid-column).
///
/// Custom grids are especially useful with [`grid-media`](#grid-media). By
/// defining a `media` attribute within your custom grid, you are able to easily
/// define gutter width and total column count as well the breakpoint at which
/// they should activate.
///
/// @type map
///
/// @group settings
///
/// @name Custom grids
///
/// @property {number (unitless)} columns [12]
///   Number of the total grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Grid gutter width between columns.
///
/// @property {number (with unit) | string | null} media [null]
///   The `@media` definition that is used by the [`grid-media`](#grid-media)
///   mixin to detirmine the media properties.
///
/// @property {color} color [null]
///   The color used by [`grid-visual`](#grid-visual) to create the guides.
///
/// @property {string} direction [ltr]
///   The float direction used throughout the grid.
///
/// @example scss
///   $my-custom-grid: (
///     columns: 12,
///     gutter: 20px,
///     media: 1200px,
///     color: rgba(#00d4ff, 0.25),
///     direction: ltr,
///   );
///
///   $other-custom-grid-for-print: (
///     columns: 14,
///     gutter: 1.5rem,
///     media: print,
///   );
///

